Repository Siz09/MindEase: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: Fixed Translation Key Structure, Eliminated Double API Calls, Added Proper Error Handling & Cleaned Up Imports
  apps/webapp/src/locales/en/common.json
  apps/webapp/src/locales/ne/common.json
  apps/webapp/src/pages/Settings.jsx
Due: eslint --fix, prettier --write

chore: integrate notification + quiet hours backend with frontend
  apps/webapp/src/hooks/useNotifications.js
  apps/webapp/src/pages/Settings.jsx
  apps/webapp/src/utils/api.js
  backend/pom.xml
  backend/src/main/java/com/mindease/config/RetryConfig.java
  backend/src/main/java/com/mindease/controller/NotificationController.java
  backend/src/main/java/com/mindease/controller/UserController.java
  backend/src/main/java/com/mindease/service/EmailService.java
  tmp_api_before.txt
Due: eslint --fix, prettier --write

refactor: split notification email delivery (isSent) from in-app read (isRead); add migration; align repo/controller/frontend
  apps/webapp/src/components/NotificationBell.jsx
  apps/webapp/src/hooks/useNotifications.js
  apps/webapp/src/pages/Notifications.jsx
  backend/src/main/java/com/mindease/controller/NotificationController.java
  backend/src/main/java/com/mindease/model/Notification.java
  backend/src/main/java/com/mindease/repository/NotificationRepository.java
  backend/src/main/resources/db/migration/V11__add_is_read_column_to_notifications.sql
Due: eslint --fix, prettier --write

docs: add engagement engine documentation and finalize Phase 5
  docs/ENGAGEMENT_ENGINE_README_SECTION.md
  docs/TESTING_NOTIFICATIONS.md
Due: prettier --write

feat: add Subscription & FeatureFlag schema + JPA repos
  backend/src/main/java/com/mindease/model/FeatureFlag.java
  backend/src/main/java/com/mindease/model/Subscription.java
  backend/src/main/java/com/mindease/repository/FeatureFlagRepository.java
  backend/src/main/java/com/mindease/repository/SubscriptionRepository.java
  backend/src/main/resources/db/migration/V12__monetization.sql
  backend/src/test/java/com/mindease/MonetizationRepositoryTests.java
Due: none

feat: monetization schema + enums; entities with audit; repos; isolated JPA test
  backend/src/main/java/com/mindease/model/FeatureFlag.java
  backend/src/main/java/com/mindease/model/PlanType.java
  backend/src/main/java/com/mindease/model/Subscription.java
  backend/src/main/java/com/mindease/model/SubscriptionStatus.java
  backend/src/main/resources/db/migration/V12__monetization.sql
  backend/src/test/java/com/mindease/MonetizationRepositoryTests.java
Due: none

chore: apply CodeRabbit suggestions — lifecycle timestamps, boolean getter, stricter constraints; expand CRUD tests
  backend/src/main/java/com/mindease/model/FeatureFlag.java
  backend/src/main/java/com/mindease/model/Subscription.java
  backend/src/test/java/com/mindease/MonetizationRepositoryTests.java
Due: none

feat: Stripe server config + create subscription endpoint (JWT-protected, pending DB row + Checkout Session)
  apps/webapp/docs/NOTIFICATION_TESTING.md
  apps/webapp/docs/OFFLINE_TESTING.md
  backend/docs/ENGAGEMENT_ENGINE_README_SECTION.md
  backend/docs/INACTIVITY_TESTING.md
  backend/docs/NOTIFICATION_BACKEND_TROUBLESHOOTING.md
  backend/docs/STRIPE_INTEGRATION_SUMMARY.md
  backend/docs/TESTING_NOTIFICATIONS.md
  backend/docs/test-stripe-endpoint.md
  backend/pom.xml
  backend/src/main/java/com/mindease/config/StripeConfig.java
  backend/src/main/java/com/mindease/controller/SubscriptionController.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/mindease/controller/SubscriptionControllerUnitTest.java
  backend/test-subscription-endpoint.sh
  docs/TESTING_GUIDE.md
Due: prettier --write

feat: harden Stripe setup — request validation, no PII logs, idempotency, webhook txn & retries; add checkout_session_id + DB CHECK; richer CORS; upgrade stripe-java
  backend/pom.xml
  backend/src/main/java/com/mindease/config/StripeConfig.java
  backend/src/main/java/com/mindease/controller/StripeWebhookController.java
  backend/src/main/java/com/mindease/controller/SubscriptionController.java
  backend/src/main/java/com/mindease/model/Subscription.java
  backend/src/main/java/com/mindease/repository/SubscriptionRepository.java
  backend/src/main/resources/db/migration/V14__subscription_identifiers_check.sql
Due: none

chore: guard StripeClient bean, avoid global Stripe.apiKey, pessimistic lock & retry semantics in webhook, fail-fast secrets in prod, identifier validation migration
  backend/src/main/java/com/mindease/controller/StripeWebhookController.java
  backend/src/main/java/com/mindease/controller/SubscriptionController.java
  backend/src/main/java/com/mindease/repository/SubscriptionRepository.java
  backend/src/main/java/com/mindease/subscription/StripeConfig.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V14__validate_identifiers_before_constraint.sql
Due: none

fix: Removed duplicate V14, and move files to their proper folder
  backend/pom.xml
  backend/src/main/java/com/mindease/controller/SubscriptionController.java
  backend/src/main/java/com/mindease/dto/SubscriptionCreateRequest.java
  backend/src/main/java/com/mindease/dto/SubscriptionCreateResponse.java
  backend/src/main/java/com/mindease/security/CurrentUserId.java
  backend/src/main/java/com/mindease/service/SubscriptionService.java
  backend/src/main/java/com/mindease/subscription/StripeConfig.java
  backend/src/main/resources/db/migration/V14__validate_identifiers_before_constraint.sql
  backend/src/test/java/com/mindease/MindeaseBackendApplicationTests.java
  backend/src/test/java/com/mindease/MonetizationRepositoryTests.java
  backend/src/test/java/com/mindease/controller/SubscriptionControllerUnitTest.java
Due: none

?
  backend/src/main/java/com/mindease/service/SubscriptionService.java
Due: none

fix: added transaction saftey and udempotency protection
  backend/src/main/java/com/mindease/service/SubscriptionService.java
Due: none

feat: Stripe webhook handling + idempotency + status API + checkout idempotency/transactional + tier×billing hooks
  backend/src/main/java/com/mindease/config/SecurityConfig.java
  backend/src/main/java/com/mindease/controller/StripeWebhookController.java
  backend/src/main/java/com/mindease/controller/SubscriptionController.java
  backend/src/main/java/com/mindease/model/BillingPeriod.java
  backend/src/main/java/com/mindease/model/StripeEvent.java
  backend/src/main/java/com/mindease/model/Subscription.java
  backend/src/main/java/com/mindease/repository/StripeEventRepository.java
  backend/src/main/java/com/mindease/repository/SubscriptionRepository.java
  backend/src/main/java/com/mindease/service/SubscriptionService.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V15__stripe_event_idempotency.sql
  backend/src/main/resources/db/migration/V16__add_billing_period_to_subscription.sql
Due: none

fix(stripe): drop Invoice#getSubscription() calls for SDK compatibility
  backend/src/main/java/com/mindease/controller/StripeWebhookController.java
Due: none

feat: webhook handling + subscription status endpoint (signature verify, idempotent processing, status mapping)
  backend/src/main/java/com/mindease/controller/StripeWebhookController.java
Due: none

fix(stripe): race-safe webhook idempotency + startup secret validation
  backend/src/main/java/com/mindease/controller/StripeWebhookController.java
  backend/src/main/java/com/mindease/repository/StripeEventRepository.java
Due: none

fix(stripe): robust webhook idempotency with PROCESSING/COMPLETED/FAILED states
  backend/src/main/java/com/mindease/controller/StripeWebhookController.java
  backend/src/main/java/com/mindease/repository/StripeEventRepository.java
  backend/src/main/resources/db/migration/V17__add_status_to_stripe_events.sql
Due: none

fix(stripe): correctly handle expanded subscription objects and drop redundant .toString()
  backend/src/main/java/com/mindease/controller/StripeWebhookController.java
  backend/src/main/java/com/mindease/repository/StripeEventRepository.java
Due: none

fix(stripe): close race in webhook idempotency with DB locking and in-lock status recheck
  backend/src/main/java/com/mindease/repository/StripeEventRepository.java
Due: none

feat: premium gating middleware + guards on AI endpoints
  backend/src/main/java/com/mindease/aop/PremiumGuardAspect.java
  backend/src/main/java/com/mindease/config/CacheConfig.java
  backend/src/main/java/com/mindease/controller/ChatApiController.java
  backend/src/main/java/com/mindease/controller/GlobalExceptionHandler.java
  backend/src/main/java/com/mindease/exception/PremiumRequiredException.java
  backend/src/main/java/com/mindease/security/RequiresPremium.java
  backend/src/main/java/com/mindease/service/PremiumAccessService.java
  backend/src/main/java/com/mindease/service/SubscriptionService.java
Due: none

Path conditions:
  eslint --fix: any of: **/*.{js,jsx}
  prettier --write: any of: **/*.{js,jsx,css,md,json}
