Repository Siz09/MindEase: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{js,jsx}": "eslint --fix",
  "**/*.{js,jsx,css,md,json}": ["prettier --write"]
}

fix: correct Cypress CI installation approach
  scripts/README.md
  scripts/ci-install.ps1
  scripts/ci-install.sh
  scripts/postinstall.js
Due: eslint --fix, prettier --write

fix: update preinstall.js to clarify limitations
  scripts/preinstall.js
Due: eslint --fix, prettier --write

fix: set CYPRESS_INSTALL_BINARY=0 in CI workflow
  .github/workflows/ci.yml
Due: none

Fix CORS configuration to allow localhost:5174 and update .gitignore
  .gitignore
  backend/src/main/java/com/mindease/config/SecurityConfig.java
  backend/src/main/java/com/mindease/model/User.java
Due: none

fix: resolve critical backend test failures and add environment verification
  backend/docs/ENVIRONMENT_SETUP.md
  backend/docs/FLYWAY_CHECKSUM_FIX.md
  backend/docs/PHASE_0_0_FIXES.md
  backend/docs/PHASE_0_1_FIXES.md
  backend/docs/VERIFICATION_CHECKLIST.md
  backend/scripts/check-database.ps1
  backend/scripts/check-database.sh
  backend/scripts/fix-flyway-checksum.ps1
  backend/scripts/fix-flyway-checksum.sh
  backend/scripts/verify-environment.ps1
  backend/scripts/verify-environment.sh
  backend/src/main/java/com/mindease/controller/AdminAuditController.java
  backend/src/main/java/com/mindease/controller/DevAuthController.java
  backend/src/main/java/com/mindease/controller/JournalController.java
  backend/src/main/java/com/mindease/controller/MoodController.java
  backend/src/main/java/com/mindease/controller/NotificationController.java
  backend/src/main/java/com/mindease/controller/SubscriptionController.java
  backend/src/main/java/com/mindease/controller/UserController.java
  backend/src/main/resources/application.yml
  docs/TESTING_GUIDE.md
  docs/TEST_IMPROVEMENT_PLAN.md
Due: prettier --write

fix: improve error handling and type safety per CodeRabbit suggestions
  backend/src/main/java/com/mindease/controller/AdminAuditController.java
  backend/src/main/java/com/mindease/controller/UserController.java
Due: none

fix(admin-dashboard): restore audit logs and crisis flags visualization
  apps/webapp/src/admin/pages/AuditLogs.jsx
  apps/webapp/src/admin/pages/Dashboard.jsx
  backend/docs/SECURITY_TESTING_ENCRYPTION.md
  backend/docs/SECURITY_TESTING_SQL_INJECTION.md
  backend/docs/SECURITY_TESTING_TOKENS.md
  backend/docs/SECURITY_TESTING_XSS.md
  backend/src/main/java/com/mindease/config/SecurityConfig.java
  backend/src/main/java/com/mindease/controller/AdminAuditController.java
  backend/src/main/java/com/mindease/controller/UserController.java
  backend/src/main/java/com/mindease/filter/AuthRateLimitingFilter.java
  backend/src/test/java/com/mindease/controller/AuthControllerTest.java
  backend/src/test/java/com/mindease/controller/ChatApiControllerTest.java
  backend/src/test/java/com/mindease/controller/JournalControllerTest.java
  backend/src/test/java/com/mindease/controller/MindfulnessControllerTest.java
  backend/src/test/java/com/mindease/controller/MoodControllerTest.java
  backend/src/test/java/com/mindease/controller/NotificationControllerTest.java
  backend/src/test/java/com/mindease/integration/BasicApiIntegrationTest.java
  backend/src/test/java/com/mindease/repository/UserRepositoryTest.java
  backend/src/test/java/com/mindease/service/PremiumAccessServiceTest.java
  docs/TEST_IMPROVEMENT_PLAN.md
Due: eslint --fix, prettier --write

fix(security): add cleanup and safer ip resolution to auth rate limiting
  backend/src/main/java/com/mindease/filter/AuthRateLimitingFilter.java
Due: none

fix(safety): apply CodeRabbit suggestions to utils and mood safety flow
  apps/webapp/src/lib/utils.js
  backend/src/main/java/com/mindease/dto/MoodCheckInRequest.java
  backend/src/main/java/com/mindease/model/MoodCheckIn.java
  backend/src/main/java/com/mindease/model/RiskLevel.java
  backend/src/main/java/com/mindease/service/GuardrailService.java
  backend/src/main/java/com/mindease/service/OptimizedChatService.java
  backend/src/main/java/com/mindease/service/SafeAIChatService.java
  backend/src/main/java/com/mindease/service/SafetyClassificationService.java
Due: eslint --fix, prettier --write

fix: implement CodeRabbit suggestions for code quality and safety
  apps/webapp/src/pages/CheckIn.jsx
  apps/webapp/src/styles/Journal.css
  apps/webapp/src/styles/index.css
  backend/src/main/java/com/mindease/controller/AdminSystemController.java
  backend/src/main/java/com/mindease/controller/MoodPredictionController.java
  backend/src/main/java/com/mindease/model/User.java
  backend/src/main/java/com/mindease/model/UserContext.java
  backend/src/main/java/com/mindease/repository/JournalEntryRepository.java
  backend/src/main/java/com/mindease/repository/MessageRepository.java
  backend/src/main/java/com/mindease/repository/MoodEntryRepository.java
  backend/src/main/java/com/mindease/repository/UserContextRepository.java
  backend/src/main/java/com/mindease/service/MoodPredictionService.java
  backend/src/main/java/com/mindease/service/NotificationService.java
  backend/src/main/java/com/mindease/service/OpenAIChatBotService.java
  backend/src/main/java/com/mindease/service/RetentionPolicyService.java
  backend/src/main/java/com/mindease/service/SafeAIChatService.java
Due: eslint --fix, prettier --write

fix: implement additional CodeRabbit suggestions for performance and accuracy
  apps/webapp/src/App.jsx
  apps/webapp/src/admin/pages/SystemMonitoring.jsx
  apps/webapp/src/pages/Dashboard.jsx
  apps/webapp/src/styles/index.css
  backend/src/main/java/com/mindease/controller/AdminSystemController.java
  backend/src/main/java/com/mindease/controller/MoodPredictionController.java
  backend/src/main/java/com/mindease/model/UserContext.java
  backend/src/main/java/com/mindease/repository/JournalEntryRepository.java
  backend/src/main/java/com/mindease/repository/MessageRepository.java
  backend/src/main/java/com/mindease/repository/UserRepository.java
  backend/src/main/java/com/mindease/service/MoodPredictionService.java
  backend/src/main/java/com/mindease/service/PerformanceMonitorService.java
Due: eslint --fix, prettier --write

fix: add authentication null check and PreAuthorize to MoodPredictionController
  backend/src/main/java/com/mindease/controller/MoodPredictionController.java
Due: none

fix: implement CodeRabbit suggestions for code quality improvements
  apps/webapp/src/styles/index.css
  backend/src/main/java/com/mindease/controller/AdminSystemController.java
  backend/src/main/java/com/mindease/controller/MoodPredictionController.java
  backend/src/main/java/com/mindease/repository/MoodEntryRepository.java
  backend/src/main/java/com/mindease/service/MoodPredictionService.java
  backend/src/main/java/com/mindease/service/OpenAIChatBotService.java
  backend/src/main/java/com/mindease/service/PerformanceMonitorService.java
  backend/src/main/java/com/mindease/service/RetentionPolicyService.java
Due: prettier --write

fix: resolve three critical bugs identified by CodeRabbit
  apps/webapp/src/components/JournalHistory.jsx
  backend/src/main/java/com/mindease/controller/AdminSystemController.java
  backend/src/main/java/com/mindease/service/RetentionPolicyService.java
Due: eslint --fix, prettier --write

fix: implement CodeRabbit suggestions for robustness and correctness
  apps/webapp/src/contexts/ThemeContext.jsx
  apps/webapp/src/pages/Notifications.jsx
  backend/src/main/java/com/mindease/controller/AdminSystemController.java
  backend/src/main/java/com/mindease/repository/MoodEntryRepository.java
  backend/src/main/java/com/mindease/repository/UserRepository.java
  backend/src/main/java/com/mindease/service/MoodPredictionService.java
  backend/src/main/java/com/mindease/service/OpenAIChatBotService.java
  backend/src/main/java/com/mindease/service/RetentionPolicyService.java
Due: eslint --fix, prettier --write

fix: implement CodeRabbit suggestions for validation and transaction safety
  backend/src/main/java/com/mindease/controller/NotificationController.java
  backend/src/main/java/com/mindease/model/User.java
  backend/src/main/java/com/mindease/repository/MoodEntryRepository.java
  backend/src/main/java/com/mindease/repository/UserRepository.java
  backend/src/main/java/com/mindease/service/MoodPredictionService.java
  backend/src/main/java/com/mindease/service/PerformanceMonitorService.java
  backend/src/main/java/com/mindease/service/RetentionPolicyService.java
Due: none

fix: add Flyway migration for fcm_token and region columns
  backend/src/main/resources/db/migration/V30__add_fcm_token_and_region_to_users.sql
Due: none

fix: delete UserContext entities before deleting User in RetentionPolicyService
  backend/src/main/java/com/mindease/service/RetentionPolicyService.java
Due: none

fix: make journal_entries.title nullable to support entries without titles
  backend/src/main/resources/db/migration/V31__make_journal_entries_title_nullable.sql
Due: none

fix: resolve Dashboard import naming and make journal titles optional
  apps/webapp/src/components/JournalForm.jsx
  apps/webapp/src/components/JournalHistory.jsx
  backend/src/main/resources/db/migration/V30__add_fcm_token_and_region_to_users.sql
  backend/src/main/resources/db/migration/V31__make_journal_entries_title_nullable.sql
Due: eslint --fix, prettier --write

fix: implement CodeRabbit suggestions for race conditions, error handling, and code quality
  apps/webapp/src/pages/Dashboard.jsx
  backend/src/main/java/com/mindease/controller/MoodPredictionController.java
  backend/src/main/java/com/mindease/controller/NotificationController.java
  backend/src/main/java/com/mindease/repository/JournalEntryRepository.java
  backend/src/main/java/com/mindease/service/OpenAIChatBotService.java
  backend/src/main/java/com/mindease/service/PerformanceMonitorService.java
Due: eslint --fix, prettier --write

fix: prevent Firebase messaging crash and clarify JournalRequest nullable title
  apps/webapp/src/firebase.js
  backend/src/main/java/com/mindease/dto/JournalRequest.java
  backend/src/main/java/com/mindease/service/OpenAIChatBotService.java
  backend/src/main/java/com/mindease/service/PerformanceMonitorService.java
Due: eslint --fix, prettier --write

fix: remove unused variable, fix loading state race condition, and add missing CSS variables
  apps/webapp/src/firebase.js
  apps/webapp/src/pages/Dashboard.jsx
  apps/webapp/src/styles/index.css
Due: eslint --fix, prettier --write

fix: add missing success color variables to dark theme section
  apps/webapp/src/styles/index.css
Due: prettier --write

fix: correct API path and replace undefined CSS variable
  apps/webapp/src/admin/pages/SystemMonitoring.jsx
  apps/webapp/src/pages/Notifications.jsx
Due: eslint --fix, prettier --write

fix: use proper rounding instead of truncation for CPU, memory, and disk percentages
  backend/src/main/java/com/mindease/controller/AdminSystemController.java
Due: none

fix: correctly handle zero load average as valid measurement
  backend/src/main/java/com/mindease/service/PerformanceMonitorService.java
Due: none

fix: handle negative CPU/memory/disk values in HealthBar component
  apps/webapp/src/admin/pages/SystemMonitoring.jsx
Due: eslint --fix, prettier --write

fix: remove @Transactional from repository interfaces and fix userContext handling
  backend/src/main/java/com/mindease/repository/MessageRepository.java
  backend/src/main/java/com/mindease/repository/MoodEntryRepository.java
  backend/src/main/java/com/mindease/repository/UserContextRepository.java
  backend/src/main/java/com/mindease/repository/UserRepository.java
  backend/src/main/java/com/mindease/service/SimpleChatBotService.java
Due: none

fix: add prompt injection protection and fix NPE in OpenAIChatBotService
  backend/src/main/java/com/mindease/service/OpenAIChatBotService.java
Due: none

chore: update codebase with various improvements and fixes
  apps/webapp/src/App.jsx
  apps/webapp/src/admin/components/ContentForm.jsx
  apps/webapp/src/admin/components/RichTextEditor.jsx
  apps/webapp/src/admin/pages/ContentLibrary.jsx
  apps/webapp/src/admin/pages/CrisisFlags.jsx
  apps/webapp/src/admin/pages/SystemMonitoring.jsx
  apps/webapp/src/admin/pages/UserManagement.jsx
  apps/webapp/src/components/JournalForm.jsx
  apps/webapp/src/components/JournalHistory.jsx
  apps/webapp/src/contexts/ThemeContext.jsx
  apps/webapp/src/pages/Dashboard.jsx
  apps/webapp/src/pages/Insights.jsx
  apps/webapp/src/pages/Journal.jsx
  apps/webapp/src/styles/Journal.css
  apps/webapp/src/styles/components/JournalHistory.css
  backend/src/main/java/com/mindease/controller/AdminContentController.java
  backend/src/main/java/com/mindease/controller/AdminCrisisController.java
  backend/src/main/java/com/mindease/controller/AdminNotificationController.java
  backend/src/main/java/com/mindease/controller/AdminSystemController.java
  backend/src/main/java/com/mindease/controller/AdminUserController.java
  backend/src/main/java/com/mindease/dto/SystemHealthResponse.java
  backend/src/main/java/com/mindease/dto/UserAdminSummary.java
  backend/src/main/java/com/mindease/filter/JwtAuthenticationFilter.java
  backend/src/main/java/com/mindease/model/Content.java
  backend/src/main/java/com/mindease/repository/ContentRepository.java
  backend/src/main/java/com/mindease/service/OpenAIChatBotService.java
  backend/src/main/java/com/mindease/service/PerformanceMonitorService.java
  backend/src/main/java/com/mindease/service/SimpleChatBotService.java
Due: eslint --fix, prettier --write

fix: implement CodeRabbit suggestions for security, performance, and code quality
  apps/webapp/package.json
  apps/webapp/src/admin/components/ContentForm.jsx
  apps/webapp/src/admin/components/RichTextEditor.jsx
  apps/webapp/src/admin/pages/CrisisFlags.jsx
  apps/webapp/src/contexts/ThemeContext.jsx
  backend/src/main/java/com/mindease/controller/AdminNotificationController.java
  backend/src/main/java/com/mindease/controller/AdminUserController.java
  backend/src/main/java/com/mindease/filter/JwtAuthenticationFilter.java
  backend/src/main/java/com/mindease/model/Content.java
  backend/src/main/java/com/mindease/repository/SubscriptionRepository.java
  backend/src/main/java/com/mindease/service/SimpleChatBotService.java
  package-lock.json
Due: eslint --fix, prettier --write

fix: resolve XSS vulnerability, table colspan, and security regression
  apps/webapp/src/admin/components/RichTextEditor.jsx
  apps/webapp/src/admin/pages/CrisisFlags.jsx
  backend/src/main/java/com/mindease/controller/AdminNotificationController.java
  backend/src/main/java/com/mindease/controller/AdminUserController.java
  backend/src/main/java/com/mindease/filter/JwtAuthenticationFilter.java
Due: eslint --fix, prettier --write

fix: prevent stored XSS in RichTextEditor and fix SSE authentication
  apps/webapp/src/admin/components/RichTextEditor.jsx
  backend/src/main/java/com/mindease/filter/JwtAuthenticationFilter.java
Due: eslint --fix, prettier --write

fix: resolve RichTextEditor content sync and ThemeProvider scope
  apps/webapp/src/App.jsx
  apps/webapp/src/admin/components/RichTextEditor.jsx
  backend/src/main/java/com/mindease/filter/JwtAuthenticationFilter.java
Due: eslint --fix, prettier --write

fix: add timeout cleanup in RichTextEditor to prevent memory leaks
  apps/webapp/src/admin/components/RichTextEditor.jsx
Due: eslint --fix, prettier --write

feat: improve OpenAI config, env loading and quota handling
  backend/pom.xml
  backend/src/main/java/com/mindease/MindeaseBackendApplication.java
  backend/src/main/java/com/mindease/service/OpenAIChatBotService.java
  backend/src/main/java/com/mindease/service/OpenAIService.java
  backend/src/main/resources/application.yml
Due: none

fix(auth): improve password visibility toggles
  apps/webapp/src/locales/en/common.json
  apps/webapp/src/locales/ne/common.json
  apps/webapp/src/pages/Login.jsx
  apps/webapp/src/pages/Register.jsx
  apps/webapp/src/styles/Auth.css
Due: eslint --fix, prettier --write
