Repository Siz09/MindEase: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{js,jsx}": "eslint --fix",
  "**/*.{js,jsx,css,md,json}": ["prettier --write"]
}

marketing: remove Tailwind; switch to plain CSS
  apps/marketing/package.json
  apps/marketing/postcss.config.js
  apps/marketing/src/index.css
  package-lock.json
Due: eslint --fix, prettier --write

chore: drop lightningcss-win32-x64-msvc (fix linux npm ci)
  apps/marketing/README.md
  apps/marketing/index.html
  apps/marketing/src/App.jsx
  apps/marketing/src/components/BentoCard.jsx
  apps/marketing/src/components/BentoGrid.jsx
  apps/marketing/src/components/FeatureIcon.jsx
  apps/marketing/src/components/Footer.jsx
  apps/marketing/src/components/Hero.jsx
  apps/marketing/src/components/LanguageSwitcher.jsx
  apps/marketing/src/components/Navbar.jsx
  apps/marketing/src/components/Section.jsx
  apps/marketing/src/index.css.bak
  apps/marketing/src/locales/en/common.json
  apps/marketing/src/locales/ne/common.json
  apps/marketing/src/main.jsx
  apps/marketing/src/routes/About.jsx
  apps/marketing/src/routes/Contact.jsx
  apps/marketing/src/routes/Features.jsx
  apps/marketing/src/routes/WhyMindease.jsx
  apps/marketing/tailwind.config.js
  apps/webapp/src/locales/ne/common.json
  package-lock.json
  package.json
  tmp_index_css.txt
Due: eslint --fix, prettier --write

marketing: render immediately on navigation and restyle language switcher
  README.md
  apps/marketing/src/App.jsx
  apps/marketing/src/components/BentoCard.jsx
  apps/marketing/src/components/BentoGrid.jsx
  apps/marketing/src/components/Footer.jsx
  apps/marketing/src/components/Hero.jsx
  apps/marketing/src/components/LanguageSwitcher.jsx
  apps/marketing/src/components/Navbar.jsx
  apps/marketing/src/components/ScrollToTop.jsx
  apps/marketing/src/i18n/index.js
  apps/marketing/src/index.css
  apps/marketing/src/locales/en/common.json
  apps/marketing/src/locales/ne/common.json
  apps/marketing/src/routes/About.jsx
  apps/marketing/src/routes/Contact.jsx
  apps/marketing/src/routes/Features.jsx
  apps/marketing/src/routes/WhyMindease.jsx
Due: eslint --fix, prettier --write

marketing: apply CodeRabbit suggestions
  apps/marketing/src/components/BentoGrid.jsx
  apps/marketing/src/components/Footer.jsx
  apps/marketing/src/components/Hero.jsx
  apps/marketing/src/components/Navbar.jsx
  apps/marketing/src/components/ScrollToTop.jsx
  apps/marketing/src/locales/en/common.json
  apps/marketing/src/routes/WhyMindease.jsx
Due: eslint --fix, prettier --write

marketing: harden URL handling, improve a11y, and anchor scroll
  apps/marketing/src/components/BentoGrid.jsx
  apps/marketing/src/components/Footer.jsx
  apps/marketing/src/components/ScrollToTop.jsx
  apps/marketing/src/index.css
Due: eslint --fix, prettier --write

marketing: harden URL handling, improve a11y, and anchor scroll
  apps/marketing/src/App.jsx
  tmp_ls_prev.jsx
Due: eslint --fix, prettier --write

marketing: adopt additional CodeRabbit suggestions
  apps/marketing/src/components/Hero.jsx
  apps/marketing/src/index.css
  apps/marketing/src/routes/Features.jsx
Due: eslint --fix, prettier --write

marketing(hero): restore local fallback for login URL when VITE_MINDEASE_APP_URL is unset
  apps/marketing/src/components/Hero.jsx
Due: eslint --fix, prettier --write

marketing(hero): restore local fallback for login URL when VITE_MINDEASE_APP_URL is unset
  hero.tmp.jsx
Due: eslint --fix, prettier --write

Updated package-lock.json
  package-lock.json
Due: prettier --write

feat(webapp): smooth sidebar collapse animation
  apps/webapp/src/App.jsx
  apps/webapp/src/components/Navbar.jsx
  apps/webapp/src/components/Sidebar.jsx
  apps/webapp/src/components/UserLayout.jsx
  apps/webapp/src/locales/ne/common.json
  apps/webapp/src/pages/Chat.jsx
  apps/webapp/src/pages/Profile.jsx
  apps/webapp/src/pages/Settings.jsx
  apps/webapp/src/styles/Chat.css
  apps/webapp/src/styles/Navbar.css
  apps/webapp/src/styles/Profile.css
  apps/webapp/src/styles/Settings.css
  apps/webapp/src/styles/Sidebar.css
  apps/webapp/src/styles/UserLayout.css
Due: eslint --fix, prettier --write

feat(webapp/subscription): add navbar link; redesign subscription UI
  apps/webapp/src/components/Navbar.jsx
  apps/webapp/src/pages/Subscription.jsx
  apps/webapp/src/styles/Subscription.css
Due: eslint --fix, prettier --write

feat(auth): redirect to login after signup; disable auto-login post-registration
  apps/webapp/src/contexts/AuthContext.jsx
  apps/webapp/src/pages/Register.jsx
Due: eslint --fix, prettier --write

fix(journal): show new entry immediately and refresh history correctly
  apps/webapp/src/pages/Journal.jsx
Due: eslint --fix, prettier --write

feat(register): add email/password validation and UI hints
  apps/webapp/src/pages/Register.jsx
  apps/webapp/src/styles/Auth.css
Due: eslint --fix, prettier --write

i18n(register): translate hardcoded messages and add locale keys
  apps/webapp/src/locales/en/common.json
  apps/webapp/src/pages/Register.jsx
Due: eslint --fix, prettier --write

ux(register): add touched-state validation and delay hiding password requirements
  apps/webapp/src/pages/Register.jsx
Due: eslint --fix, prettier --write

refactor(register,styles): apply CodeRabbit i18n and styling suggestions
  apps/webapp/src/locales/en/common.json
  apps/webapp/src/pages/Register.jsx
  apps/webapp/src/styles/Auth.css
  apps/webapp/src/styles/index.css
Due: eslint --fix, prettier --write

chore(webapp/sidebar): update Sidebar component and styles
  apps/webapp/src/components/Sidebar.jsx
  apps/webapp/src/styles/Sidebar.css
Due: eslint --fix, prettier --write

chat: make chat send free + soft daily limit for free users
  backend/src/main/java/com/mindease/config/ChatConfig.java
  backend/src/main/java/com/mindease/controller/ChatApiController.java
  backend/src/main/java/com/mindease/repository/MessageRepository.java
  backend/src/main/resources/application.yml
Due: none

feat(subscription): add cancel endpoint and service
  backend/src/main/java/com/mindease/controller/SubscriptionController.java
  backend/src/main/java/com/mindease/service/SubscriptionService.java
Due: none

refactor(subscription-cancel): add logging and edge-case handling; fix error handling
  backend/src/main/java/com/mindease/controller/SubscriptionController.java
  backend/src/main/java/com/mindease/service/SubscriptionService.java
Due: none

chore(subscription-cancel): refine error handling and add consistency notes
  backend/src/main/java/com/mindease/service/SubscriptionService.java
Due: none

feat(subscription-cancel): add pessimistic locking and simplify error handling
  backend/src/main/java/com/mindease/repository/SubscriptionRepository.java
  backend/src/main/java/com/mindease/service/SubscriptionService.java
Due: none

refactor(subscription-cancel): adopt two-phase cancel to avoid holding DB lock during Stripe I/O
  backend/src/main/java/com/mindease/model/SubscriptionStatus.java
  backend/src/main/java/com/mindease/service/SubscriptionService.java
Due: none

refactor(auth,subscription): improve cancel robustness and frontend auth handling
  apps/webapp/src/contexts/AuthContext.jsx
  backend/src/main/java/com/mindease/controller/AuthController.java
  backend/src/main/java/com/mindease/controller/SubscriptionController.java
  backend/src/main/java/com/mindease/service/SubscriptionService.java
Due: eslint --fix, prettier --write

journal(frontend): grapheme-aware emoji and fix malformed icons; concurrent polling map with proper cleanup and logging; enforce 1000-char limit. journal(backend): log model fallback exception.
  apps/webapp/src/pages/Journal.jsx
  backend/src/main/java/com/mindease/service/OpenAIService.java
Due: eslint --fix, prettier --write

fix(webapp): repair Journal emoji picker props and emoji list; support onSelect and onEmojiSelect\n\nchore(backend): normalize OpenAIService.java encoding to remove BOM causing compile error
  apps/webapp/src/components/EmojiPicker.jsx
  backend/src/main/java/com/mindease/service/OpenAIService.java
Due: eslint --fix, prettier --write

webapp: remove disabled inline summary block to satisfy eslint pre-commit
  apps/webapp/src/App.jsx
  apps/webapp/src/components/JournalForm.jsx
  apps/webapp/src/components/JournalHistory.jsx
  apps/webapp/src/components/MoodCharts.jsx
  apps/webapp/src/components/MoodInput.jsx
  apps/webapp/src/components/MoodStats.jsx
  apps/webapp/src/components/Sidebar.jsx
  apps/webapp/src/locales/en/common.json
  apps/webapp/src/locales/ne/common.json
  apps/webapp/src/pages/CheckIn.jsx
  apps/webapp/src/pages/Insights.jsx
  apps/webapp/src/styles/CheckIn.css
  apps/webapp/src/styles/Insights.css
  apps/webapp/src/styles/components/JournalForm.css
  apps/webapp/src/styles/components/JournalHistory.css
  apps/webapp/src/styles/components/MoodCharts.css
  apps/webapp/src/styles/components/MoodInput.css
  apps/webapp/src/styles/components/MoodStats.css
Due: eslint --fix, prettier --write

webapp: implement i18n + UX fixes per CodeRabbit suggestions
  apps/webapp/src/components/JournalHistory.jsx
  apps/webapp/src/components/MoodCharts.jsx
  apps/webapp/src/components/MoodInput.jsx
  apps/webapp/src/components/MoodStats.jsx
  apps/webapp/src/locales/en/common.json
  apps/webapp/src/pages/CheckIn.jsx
  apps/webapp/src/pages/Insights.jsx
  apps/webapp/src/styles/Insights.css
  apps/webapp/src/styles/components/MoodInput.css
Due: eslint --fix, prettier --write
