Repository Siz09/MindEase: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{js,jsx}": "eslint --fix",
  "**/*.{js,jsx,css,md,json}": ["prettier --write"]
}

feat: integrate Firebase Admin SDK for token verification
  .gitignore
  backend/.gitignore
  backend/src/main/java/com/mindease/config/FirebaseConfig.java
  backend/src/main/java/com/mindease/controller/AuthController.java
  backend/src/main/java/com/mindease/service/FirebaseService.java
Due: none

feat: add JWT security filter and role-based auth
  backend/src/main/java/com/mindease/config/SecurityConfig.java
  backend/src/main/java/com/mindease/controller/AuthController.java
  backend/src/main/java/com/mindease/filter/JwtAuthenticationFilter.java
  backend/src/main/java/com/mindease/service/CustomUserDetailsService.java
  backend/src/main/java/com/mindease/util/JwtUtil.java
Due: none

Updated package-lock.json
  package-lock.json
Due: prettier --write

Implement Authentication System with Login/Register Pages
  apps/webapp/package.json
  apps/webapp/src/App.jsx
  apps/webapp/src/components/Navigation.jsx
  apps/webapp/src/components/ProtectedRoute.jsx
  apps/webapp/src/contexts/AuthContext.jsx
  apps/webapp/src/locales/en/common.json
  apps/webapp/src/locales/ne/common.json
  apps/webapp/src/pages/Login.jsx
  apps/webapp/src/pages/Register.jsx
  apps/webapp/src/styles/Auth.css
  package-lock.json
Due: eslint --fix, prettier --write

Redesign Login and Register Pages with Modern UI
  apps/webapp/src/pages/Login.jsx
  apps/webapp/src/pages/Register.jsx
  apps/webapp/src/styles/Auth.css
Due: eslint --fix, prettier --write

feat: login/register pages with auth context, form validation, and backend integration
  apps/webapp/package.json
  apps/webapp/src/App.jsx
  apps/webapp/src/contexts/AuthContext.jsx
  apps/webapp/src/firebase.js
  apps/webapp/src/index.css
  backend/.gitignore
  backend/pom.xml
  backend/src/main/java/com/mindease/config/FirebaseConfig.java
  backend/src/main/java/com/mindease/config/SecurityConfig.java
  backend/src/main/java/com/mindease/controller/AuthController.java
  backend/src/main/resources/application.yml
  package-lock.json
Due: eslint --fix, prettier --write

feat: protect routes with PrivateRoute
  apps/webapp/src/App.jsx
  apps/webapp/src/components/Navigation.jsx
  apps/webapp/src/locales/en/common.json
  apps/webapp/src/locales/ne/common.json
  apps/webapp/src/pages/Journal.jsx
  apps/webapp/src/pages/Mood.jsx
Due: eslint --fix, prettier --write

fix: add /api/auth/me endpoint and improve error handling
  apps/webapp/src/contexts/AuthContext.jsx
  backend/src/main/java/com/mindease/controller/AuthController.java
Due: eslint --fix, prettier --write

feat: add error handling and toast notifications
  apps/webapp/package.json
  apps/webapp/src/App.jsx
  apps/webapp/src/contexts/AuthContext.jsx
  apps/webapp/src/pages/Login.jsx
  apps/webapp/src/pages/Register.jsx
  apps/webapp/src/styles/Auth.css
  package-lock.json
Due: eslint --fix, prettier --write

feat: add backend anonymous mode toggle
  backend/src/main/java/com/mindease/controller/UserController.java
  backend/src/main/java/com/mindease/service/UserService.java
Due: none

feat: add frontend anonymous mode toggle
  apps/webapp/src/App.jsx
  apps/webapp/src/components/Navigation.jsx
  apps/webapp/src/locales/en/common.json
  apps/webapp/src/locales/ne/common.json
  apps/webapp/src/pages/Settings.jsx
  apps/webapp/src/styles/Settings.css
Due: eslint --fix, prettier --write

fest: Changed Frontend
  apps/webapp/index.html
  apps/webapp/src/App.css
  apps/webapp/src/App.jsx
  apps/webapp/src/components/ChatBot.jsx
  apps/webapp/src/components/LanguageSwitcher.jsx
  apps/webapp/src/components/Navigation.jsx
  apps/webapp/src/i18n/index.js
  apps/webapp/src/index.css
  apps/webapp/src/locales/en/common.json
  apps/webapp/src/locales/ne/common.json
  apps/webapp/src/main.jsx
  apps/webapp/src/pages/Journal.jsx
  apps/webapp/src/pages/Login.jsx
  apps/webapp/src/pages/Mood.jsx
  apps/webapp/src/pages/Register.jsx
  apps/webapp/src/pages/Settings.jsx
  apps/webapp/src/styles/App.css
  apps/webapp/src/styles/Auth.css
  apps/webapp/src/styles/ChatBot.css
  apps/webapp/src/styles/Journal.css
  apps/webapp/src/styles/LanguageSwitcher.css
  apps/webapp/src/styles/Mood.css
  apps/webapp/src/styles/Navigation.css
  apps/webapp/src/styles/Settings.css
  apps/webapp/src/styles/index.css
Due: eslint --fix, prettier --write

fix: Fixed login and register issue
  apps/webapp/src/contexts/AuthContext.jsx
  apps/webapp/src/pages/Settings.jsx
  apps/webapp/src/styles/Settings.css
Due: eslint --fix, prettier --write

chore: integration tests PASSED - auth system fully functional
  apps/webapp/src/App.jsx
  apps/webapp/src/pages/Register.jsx
Due: eslint --fix, prettier --write

feat: add chat & mood entities + basic APIs
  backend/src/main/java/com/mindease/controller/MoodController.java
  backend/src/main/java/com/mindease/model/ChatSession.java
  backend/src/main/java/com/mindease/model/MoodEntry.java
  backend/src/main/java/com/mindease/repository/ChatSessionRepository.java
  backend/src/main/java/com/mindease/repository/MoodEntryRepository.java
  backend/src/main/resources/db/migration/V3__create_chat_and_mood_tables.sql
Due: none

feat: setup WebSocket with real-time messaging
  backend/pom.xml
  backend/src/main/java/com/mindease/config/SecurityConfig.java
  backend/src/main/java/com/mindease/config/WebSocketConfig.java
  backend/src/main/java/com/mindease/controller/ChatHandler.java
  backend/src/main/java/com/mindease/model/ChatMessage.java
  backend/src/main/resources/static/websocket-test.html
Due: none

feat: complete chat API with modular AI foundation
  backend/src/main/java/com/mindease/controller/ChatApiController.java
  backend/src/main/java/com/mindease/model/ChatSession.java
  backend/src/main/java/com/mindease/model/Message.java
  backend/src/main/java/com/mindease/repository/ChatSessionRepository.java
  backend/src/main/java/com/mindease/repository/MessageRepository.java
  backend/src/main/java/com/mindease/service/ChatBotService.java
  backend/src/main/java/com/mindease/service/SimpleChatBotService.java
  backend/src/main/resources/db/migration/V4__create_messages_table.sql
Due: none

feat: integrate OpenAI with crisis detection
  backend/pom.xml
  backend/src/main/java/com/mindease/config/ChatBotConfig.java
  backend/src/main/java/com/mindease/config/ChatConfig.java
  backend/src/main/java/com/mindease/controller/ChatApiController.java
  backend/src/main/java/com/mindease/service/OpenAIChatBotService.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V4__create_messages_table.sql
Due: none

test: backend APIs fully tested and working - all endpoints verified
  backend/src/main/java/com/mindease/config/SecurityConfig.java
  backend/src/main/java/com/mindease/controller/DevAuthController.java
  backend/src/main/java/com/mindease/controller/DevController.java
  backend/src/main/java/com/mindease/repository/MoodEntryRepository.java
  backend/src/main/java/com/mindease/service/AutoMoodService.java
  backend/src/main/java/com/mindease/service/OpenAIChatBotService.java
  backend/src/main/java/com/mindease/util/TestUserGenerator.java
  backend/src/main/resources/application.yml
Due: none

feat: frontend chat UI with WebSocket integration
  apps/webapp/package.json
  apps/webapp/src/App.jsx
  apps/webapp/src/components/Navigation.jsx
  apps/webapp/src/locales/en/common.json
  apps/webapp/src/locales/ne/common.json
  apps/webapp/src/pages/Chat.jsx
  apps/webapp/src/styles/Chat.css
  apps/webapp/vite.config.js
  package-lock.json
Due: eslint --fix, prettier --write

Redesign Chat Page Layout
  apps/webapp/src/pages/Chat.jsx
  apps/webapp/src/styles/Chat.css
Due: eslint --fix, prettier --write
