Repository Siz09/MindEase: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{js,jsx}": "eslint --fix",
  "**/*.{js,jsx,css,md,json}": ["prettier --write"]
}

fix: removed / from ChatApiController
  backend/src/main/java/com/mindease/controller/ChatApiController.java
Due: none

feat: add crisis flagging with admin notification trigger
  backend/src/main/java/com/mindease/controller/ChatApiController.java
  backend/src/main/java/com/mindease/repository/CrisisFlagRepository.java
  backend/src/main/java/com/mindease/repository/UserRepository.java
  backend/src/main/java/com/mindease/safety/CrisisKeywordDetector.java
  backend/src/main/java/com/mindease/safety/NoopRiskScorer.java
  backend/src/main/java/com/mindease/safety/RiskScorer.java
  backend/src/main/java/com/mindease/service/CrisisFlaggingService.java
  backend/src/main/java/com/mindease/service/NotificationService.java
  backend/src/main/resources/db/migration/V21__crisis_flag_unique.sql
  backend/src/test/java/com/mindease/service/CrisisFlaggingServiceTest.java
Due: none

fix(safety): make crisis flagging idempotent via DB constraint; sanitize detector; clarify scorer API; clean notifications API; add null checks
  backend/src/main/java/com/mindease/safety/CrisisKeywordDetector.java
  backend/src/main/java/com/mindease/safety/NoopRiskScorer.java
  backend/src/main/java/com/mindease/safety/RiskScorer.java
  backend/src/main/java/com/mindease/service/CrisisFlaggingService.java
  backend/src/main/java/com/mindease/service/NotificationService.java
  backend/src/main/resources/db/migration/V22__add_crisis_flag_unique_constraint.sql
  backend/src/test/java/com/mindease/service/CrisisFlaggingServiceTest.java
Due: none

fix(safety): enforce idempotency via DB unique & persist riskScore; broaden crisis regex for 'kill my self'/'end my life'
  backend/src/main/java/com/mindease/model/CrisisFlag.java
  backend/src/main/java/com/mindease/safety/CrisisKeywordDetector.java
  backend/src/main/java/com/mindease/service/CrisisFlaggingService.java
  backend/src/main/resources/db/migration/V23__crisis_flag_risk_score_and_unique.sql
  backend/src/test/java/com/mindease/service/CrisisFlaggingServiceTest.java
Due: none

feat: add analytics endpoints for admin dashboard
  backend/src/main/java/com/mindease/controller/AdminAnalyticsController.java
  backend/src/main/java/com/mindease/dto/ActiveUsersPoint.java
  backend/src/main/java/com/mindease/dto/AiUsagePoint.java
  backend/src/main/java/com/mindease/dto/MoodCorrelationPoint.java
  backend/src/main/java/com/mindease/repository/AnalyticsRepository.java
  backend/src/test/java/com/mindease/controller/AdminAnalyticsControllerTest.java
Due: none

refactor(analytics): validate date ranges, simplify SQL, and strengthen tests for response content
  backend/src/main/java/com/mindease/controller/AdminAnalyticsController.java
  backend/src/main/java/com/mindease/repository/AnalyticsRepository.java
  backend/src/test/java/com/mindease/controller/AdminAnalyticsControllerTest.java
Due: none

feat: separate admin UI with its own layout, routes, charts, and tables (no user UI shared)
  apps/webapp/package.json
  apps/webapp/src/App.jsx
  apps/webapp/src/admin/AdminLayout.jsx
  apps/webapp/src/admin/AdminRoute.jsx
  apps/webapp/src/admin/AdminSidebar.jsx
  apps/webapp/src/admin/AdminTopbar.jsx
  apps/webapp/src/admin/pages/AuditLogs.jsx
  apps/webapp/src/admin/pages/CrisisFlags.jsx
  apps/webapp/src/admin/pages/Overview.jsx
  apps/webapp/src/admin/pages/Settings.jsx
  apps/webapp/src/components/UserLayout.jsx
  apps/webapp/src/contexts/AuthContext.jsx
  apps/webapp/src/pages/Login.jsx
  apps/webapp/src/styles/admin.css
  backend/src/main/resources/db/migration/V24__demo_admin_user.sql
  backend/src/main/resources/db/migration/V25__link_demo_admin_firebase_uid.sql
  package-lock.json
  tmp_nav_part1.txt
  tmp_nav_part2.txt
Due: eslint --fix, prettier --write

fix: Fixed errors pointed out by code rabbit
  apps/webapp/src/admin/AdminSidebar.jsx
  apps/webapp/src/admin/AdminTopbar.jsx
  apps/webapp/src/admin/pages/AuditLogs.jsx
  apps/webapp/src/admin/pages/CrisisFlags.jsx
  apps/webapp/src/admin/pages/Overview.jsx
  apps/webapp/src/pages/Login.jsx
  apps/webapp/src/styles/admin.css
  backend/src/main/resources/db/migration/V26__admin_user_remove_password_and_set_deterministic_uid.sql
Due: eslint --fix, prettier --write

fix: removed attribute exposing email, added robust data validation
  apps/webapp/src/admin/pages/AuditLogs.jsx
  apps/webapp/src/admin/pages/CrisisFlags.jsx
Due: eslint --fix, prettier --write

fix: fixed privacy issue in auditlog
  apps/webapp/src/admin/pages/AuditLogs.jsx
Due: eslint --fix, prettier --write

feat: added request cancellation to prevent race condition
  apps/webapp/src/admin/pages/AuditLogs.jsx
Due: eslint --fix, prettier --write

chore: integrate admin APIs and add real-time updates (polling) with CSV export
  apps/webapp/src/admin/pages/AuditLogs.jsx
  apps/webapp/src/admin/pages/CrisisFlags.jsx
  apps/webapp/src/admin/pages/Overview.jsx
  apps/webapp/src/utils/api.js
  apps/webapp/src/utils/export.js
Due: eslint --fix, prettier --write

refactor(admin): apply CodeRabbit suggestions
  apps/webapp/src/admin/pages/AuditLogs.jsx
  apps/webapp/src/admin/pages/CrisisFlags.jsx
  apps/webapp/src/admin/pages/Overview.jsx
  apps/webapp/src/utils/export.js
Due: eslint --fix, prettier --write

chore(admin): implement CodeRabbit follow-ups
  apps/webapp/src/admin/pages/AuditLogs.jsx
  apps/webapp/src/admin/pages/CrisisFlags.jsx
  apps/webapp/src/admin/pages/Overview.jsx
Due: eslint --fix, prettier --write

fix(admin/audit): warn when email filter fallback occurs and simplify dependencies
  apps/webapp/src/admin/pages/AuditLogs.jsx
Due: eslint --fix, prettier --write

docs: add admin safety testing guide and finalize Phase 7
  Loading
  README.md
  apps/webapp/ADMIN_DASHBOARD_TESTING.md
  apps/webapp/cypress.config.js
  apps/webapp/cypress/e2e/admin.cy.js
  apps/webapp/cypress/support/commands.js
  apps/webapp/cypress/support/e2e.js
  backend/src/test/java/com/mindease/admin/AnalyticsRepositoryTest.java
  backend/src/test/java/com/mindease/admin/Phase7IntegrationTest.java
  backend/src/test/resources/schema.sql
Due: eslint --fix, prettier --write

feat(admin): add crisis flags list + SSE endpoints; publish events on flag create; repo paging methods; cleanup
  backend/src/main/java/com/mindease/controller/AdminCrisisController.java
  backend/src/main/java/com/mindease/events/CrisisFlagCreatedEvent.java
  backend/src/main/java/com/mindease/repository/CrisisFlagRepository.java
  backend/src/main/java/com/mindease/service/CrisisFlaggingService.java
Due: none

chore: remove stray Loading file
  Loading
Due: none

chore(admin): support partial date filtering and limit SSE connections; event null check and after-commit broadcasting
  Loading
  backend/src/main/java/com/mindease/controller/AdminCrisisController.java
  backend/src/main/java/com/mindease/events/CrisisFlagCreatedEvent.java
  backend/src/test/java/com/mindease/service/CrisisFlaggingServiceTest.java
Due: none

chore: remove stray Loading file (again)
  Loading
Due: none

docs: update admin testing guide with partial date filters and SSE connection limit notes
  Loading
  apps/webapp/ADMIN_DASHBOARD_TESTING.md
  backend/src/main/java/com/mindease/controller/AdminCrisisController.java
Due: prettier --write
