Repository Siz09/MindEase: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{js,jsx}": "eslint --fix",
  "**/*.{js,jsx,css,md,json}": ["prettier --write"]
}

refactor(auth): implement Phase 1 quick wins - security and code quality
  apps/webapp/src/App.jsx
  apps/webapp/src/components/UserLayout.jsx
  apps/webapp/src/contexts/AuthContext.jsx
  apps/webapp/src/contexts/ThemeContext.jsx
  apps/webapp/src/pages/Register.jsx
  apps/webapp/src/styles/index.css
  backend/pom.xml
  backend/src/main/java/com/mindease/config/JwtSecretValidator.java
  backend/src/main/java/com/mindease/controller/AuthController.java
  backend/src/main/java/com/mindease/dto/AuthResponse.java
  backend/src/main/java/com/mindease/dto/ErrorResponse.java
  backend/src/main/java/com/mindease/dto/UserDTO.java
  backend/src/main/java/com/mindease/service/OpenAIChatBotService.java
  backend/src/main/resources/application.yml
Due: eslint --fix, prettier --write

Fix: Handle multiple active Spring profiles in JwtSecretValidator
  backend/src/main/java/com/mindease/config/JwtSecretValidator.java
Due: none

Security: Remove hardcoded Stripe price IDs from application.yml
  backend/src/main/resources/application.yml
Due: none

Fix: Remove empty defaults for OPENAI_API_KEY to fail fast
  backend/src/main/resources/application.yml
Due: none

feat(auth): implement Phase 2 security hardening
  apps/webapp/src/contexts/AuthContext.jsx
  backend/src/main/java/com/mindease/config/JwtSecretValidator.java
  backend/src/main/java/com/mindease/controller/AuthController.java
  backend/src/main/java/com/mindease/dto/AuthResponse.java
  backend/src/main/java/com/mindease/dto/RefreshTokenRequest.java
  backend/src/main/java/com/mindease/filter/AuthRateLimitingFilter.java
  backend/src/main/java/com/mindease/model/EmailVerificationToken.java
  backend/src/main/java/com/mindease/model/RefreshToken.java
  backend/src/main/java/com/mindease/model/User.java
  backend/src/main/java/com/mindease/model/UserActivity.java
  backend/src/main/java/com/mindease/repository/EmailVerificationTokenRepository.java
  backend/src/main/java/com/mindease/repository/RefreshTokenRepository.java
  backend/src/main/java/com/mindease/service/EmailVerificationService.java
  backend/src/main/java/com/mindease/service/FirebaseService.java
  backend/src/main/java/com/mindease/service/RefreshTokenService.java
  backend/src/main/java/com/mindease/service/UserService.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V32__create_refresh_tokens_table.sql
  backend/src/main/resources/db/migration/V33__add_account_lockout_fields.sql
  backend/src/main/resources/db/migration/V34__add_email_verified_field.sql
  backend/src/main/resources/db/migration/V35__create_email_verification_tokens_table.sql
Due: eslint --fix, prettier --write

Security and bug fixes: Address CodeRabbit suggestions
  apps/webapp/src/contexts/AuthContext.jsx
  backend/src/main/java/com/mindease/controller/AuthController.java
  backend/src/main/java/com/mindease/service/EmailVerificationService.java
  backend/src/main/java/com/mindease/service/FirebaseService.java
  backend/src/main/java/com/mindease/service/RefreshTokenService.java
  backend/src/main/resources/db/migration/V32__create_refresh_tokens_table.sql
Due: eslint --fix, prettier --write

feat(auth): add auto-login, anonymous conversion, and better UX
  apps/webapp/src/contexts/AuthContext.jsx
  apps/webapp/src/locales/en/common.json
  apps/webapp/src/pages/Register.jsx
  apps/webapp/src/pages/Settings.jsx
  backend/src/main/java/com/mindease/controller/AuthController.java
  backend/src/main/java/com/mindease/dto/ConvertAnonymousRequest.java
  backend/src/main/java/com/mindease/service/EmailVerificationService.java
  backend/src/main/java/com/mindease/service/FirebaseService.java
  backend/src/main/java/com/mindease/service/RefreshTokenService.java
Due: eslint --fix, prettier --write

Fix: Address CodeRabbit suggestions for null safety and race conditions
  apps/webapp/src/pages/Settings.jsx
  backend/src/main/java/com/mindease/controller/AuthController.java
Due: eslint --fix, prettier --write

feat: implement password reset flow with Firebase
  apps/webapp/src/App.jsx
  apps/webapp/src/contexts/AuthContext.jsx
  apps/webapp/src/locales/en/common.json
  apps/webapp/src/pages/ForgotPassword.jsx
  apps/webapp/src/pages/Login.jsx
  backend/docs/AUTH.md
  backend/src/main/java/com/mindease/controller/AuthController.java
  backend/src/main/java/com/mindease/filter/AuthRateLimitingFilter.java
  backend/src/main/java/com/mindease/model/PasswordResetRequest.java
  backend/src/main/java/com/mindease/repository/PasswordResetRequestRepository.java
  backend/src/main/java/com/mindease/repository/RefreshTokenRepository.java
  backend/src/main/java/com/mindease/service/PasswordResetService.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V36__create_password_reset_requests_table.sql
  backend/src/test/java/com/mindease/controller/AuthControllerIntegrationTest.java
  backend/src/test/java/com/mindease/controller/PasswordResetIntegrationTest.java
  backend/src/test/java/com/mindease/service/RefreshTokenServiceTest.java
  backend/src/test/java/com/mindease/util/JwtUtilTest.java
Due: eslint --fix, prettier --write

Security: Add email validation and mask PII in password reset logs
  backend/src/main/java/com/mindease/controller/AuthController.java
  backend/src/main/java/com/mindease/service/PasswordResetService.java
  backend/src/test/java/com/mindease/controller/PasswordResetIntegrationTest.java
Due: none

Security: Fix unauthorized token revocation in confirm-password-reset endpoint
  backend/src/main/java/com/mindease/controller/AuthController.java
  backend/src/main/java/com/mindease/repository/PasswordResetRequestRepository.java
  backend/src/main/java/com/mindease/service/PasswordResetService.java
  backend/src/test/java/com/mindease/controller/PasswordResetIntegrationTest.java
Due: none

added missing files
  backend/src/main/java/com/mindease/controller/AuthController.java
  backend/src/main/java/com/mindease/service/PasswordResetService.java
Due: none

feat: add real-time chat with offline support and performance optimizations
  apps/webapp/src/contexts/AuthContext.jsx
  apps/webapp/src/hooks/useVoiceRecorder.js
  apps/webapp/src/pages/Chat.jsx
  apps/webapp/src/pages/Settings.jsx
  apps/webapp/src/styles/Chat.css
  apps/webapp/src/utils/lruCache.js
  apps/webapp/src/utils/messageStatus.js
  apps/webapp/src/utils/offlineQueue.js
  backend/src/main/java/com/mindease/MindeaseBackendApplication.java
  backend/src/main/java/com/mindease/config/SecurityConfig.java
  backend/src/main/java/com/mindease/config/WebSocketCleanupScheduler.java
  backend/src/main/java/com/mindease/config/WebSocketConfig.java
  backend/src/main/java/com/mindease/controller/ChatApiController.java
  backend/src/main/java/com/mindease/dto/TypingEvent.java
  backend/src/main/java/com/mindease/filter/WebSocketRateLimitingInterceptor.java
  backend/src/main/java/com/mindease/service/CrisisFlaggingService.java
  backend/src/main/java/com/mindease/service/OptimizedChatService.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V37__add_chat_performance_indexes.sql
  backend/src/test/java/com/mindease/controller/AuthControllerIntegrationTest.java
Due: eslint --fix, prettier --write

fix: fixed flyway checksum
  .gitignore
  apps/webapp/src/contexts/AuthContext.jsx
  apps/webapp/src/pages/Chat.jsx
  apps/webapp/src/pages/Settings.jsx
  backend/scripts/fix-flyway-checksum.ps1
  backend/src/main/java/com/mindease/controller/ChatApiController.java
  backend/src/main/java/com/mindease/filter/WebSocketRateLimitingInterceptor.java
  backend/src/main/java/com/mindease/service/OptimizedChatService.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V37__add_chat_performance_indexes.sql
Due: eslint --fix, prettier --write

Add voice mode features: tutorial, analytics, commands, and settings management
  and fix auth toast handling --no-verify
  apps/webapp/src/components/VoiceModeTutorial.jsx
  apps/webapp/src/contexts/AuthContext.jsx
  apps/webapp/src/hooks/useVoiceRecorder.js
  apps/webapp/src/locales/en/common.json
  apps/webapp/src/locales/ne/common.json
  apps/webapp/src/pages/Chat.jsx
  apps/webapp/src/pages/Dashboard.jsx
  apps/webapp/src/pages/Settings.jsx
  apps/webapp/src/styles/Chat.css
  apps/webapp/src/styles/ToastOverrides.css
  apps/webapp/src/utils/speechUtils.js
  apps/webapp/src/utils/voiceActivityDetection.js
  apps/webapp/src/utils/voiceAnalytics.js
  apps/webapp/src/utils/voiceCommands.js
  apps/webapp/src/utils/voiceSettingsManager.js
Due: eslint --fix, prettier --write

feat: Unify mood systems and link journal entries to structured mood data
  apps/webapp/src/components/JournalForm.jsx
  apps/webapp/src/components/ui/MoodPrompt.jsx
  apps/webapp/src/hooks/useAICompletionPolling.js
  apps/webapp/src/pages/Dashboard.jsx
  apps/webapp/src/pages/Journal.jsx
  backend/src/main/java/com/mindease/config/AIPromptConfig.java
  backend/src/main/java/com/mindease/config/MoodConfig.java
  backend/src/main/java/com/mindease/controller/JournalController.java
  backend/src/main/java/com/mindease/controller/MoodController.java
  backend/src/main/java/com/mindease/dto/JournalRequest.java
  backend/src/main/java/com/mindease/dto/UnifiedMoodRecord.java
  backend/src/main/java/com/mindease/model/JournalEntry.java
  backend/src/main/java/com/mindease/service/JournalService.java
  backend/src/main/java/com/mindease/service/MoodPredictionService.java
  backend/src/main/java/com/mindease/service/MoodTrackingService.java
  backend/src/main/java/com/mindease/service/OpenAIService.java
  backend/src/main/java/com/mindease/service/UnifiedMoodService.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V38__link_journal_to_mood.sql
Due: eslint --fix, prettier --write

fix: implement CodeRabbit suggestions for bug fixes and improvements
  apps/webapp/src/components/VoiceModeTutorial.jsx
  apps/webapp/src/contexts/AuthContext.jsx
  apps/webapp/src/pages/Chat.jsx
  apps/webapp/src/utils/voiceActivityDetection.js
  apps/webapp/src/utils/voiceSettingsManager.js
  backend/src/main/java/com/mindease/service/UnifiedMoodService.java
Due: eslint --fix, prettier --write

fix: reset speechStartTime on audio drop and correct comment
  apps/webapp/src/utils/voiceActivityDetection.js
  apps/webapp/src/utils/voiceSettingsManager.js
Due: eslint --fix, prettier --write

fix: improve null handling, word boundary splitting, and prevent duplicate VAD starts
  apps/webapp/src/components/ui/MoodPrompt.jsx
  apps/webapp/src/utils/speechUtils.js
  apps/webapp/src/utils/voiceActivityDetection.js
Due: eslint --fix, prettier --write

fix: resolve journal API errors and add emoji display in history
  Loading
  and fix auth toast handling --no-verify
  apps/webapp/src/components/JournalHistory.jsx
  backend/src/main/java/com/mindease/controller/GlobalExceptionHandler.java
  backend/src/main/java/com/mindease/controller/JournalController.java
  backend/src/main/java/com/mindease/model/JournalEntry.java
  backend/src/main/java/com/mindease/model/MoodEntry.java
  backend/src/main/java/com/mindease/repository/JournalEntryRepository.java
  backend/src/main/java/com/mindease/service/OpenAIService.java
Due: eslint --fix, prettier --write

fix: implement security improvements from code review
  backend/src/main/java/com/mindease/controller/GlobalExceptionHandler.java
  backend/src/main/java/com/mindease/repository/JournalEntryRepository.java
  backend/src/main/java/com/mindease/service/JournalService.java
Due: none

feat(mindfulness): enhance mindfulness page with analytics, guided tools, and personalization
  apps/webapp/src/App.jsx
  apps/webapp/src/components/GuidedProgramList.jsx
  apps/webapp/src/components/mindfulness/BreathingTimer.jsx
  apps/webapp/src/components/mindfulness/FavoritesSection.jsx
  apps/webapp/src/components/mindfulness/MeditationTimer.jsx
  apps/webapp/src/components/mindfulness/MindfulnessAnalytics.jsx
  apps/webapp/src/components/mindfulness/Recommendations.jsx
  apps/webapp/src/components/mindfulness/SessionHistory.jsx
  apps/webapp/src/components/mindfulness/StreakWidget.jsx
  apps/webapp/src/components/ui/MoodPrompt.jsx
  apps/webapp/src/pages/GuidedProgramPlayer.jsx
  apps/webapp/src/pages/Mindfulness.jsx
  apps/webapp/src/styles/Mindfulness.css
  apps/webapp/src/styles/mindfulness/BreathingTimer.css
  apps/webapp/src/styles/mindfulness/FavoritesSection.css
  apps/webapp/src/styles/mindfulness/MeditationTimer.css
  apps/webapp/src/styles/mindfulness/MindfulnessAnalytics.css
  apps/webapp/src/styles/mindfulness/Recommendations.css
  apps/webapp/src/styles/mindfulness/SessionHistory.css
  apps/webapp/src/styles/mindfulness/StreakWidget.css
  backend/src/main/java/com/mindease/controller/GlobalExceptionHandler.java
  backend/src/main/java/com/mindease/controller/GuidedProgramController.java
  backend/src/main/java/com/mindease/controller/MindfulnessController.java
  backend/src/main/java/com/mindease/model/GuidedProgram.java
  backend/src/main/java/com/mindease/model/GuidedSession.java
  backend/src/main/java/com/mindease/model/GuidedStep.java
  backend/src/main/java/com/mindease/model/MindfulnessSessionActivity.java
  backend/src/main/java/com/mindease/model/UserMindfulnessPreferences.java
  backend/src/main/java/com/mindease/repository/GuidedProgramRepository.java
  backend/src/main/java/com/mindease/repository/GuidedSessionRepository.java
  backend/src/main/java/com/mindease/repository/GuidedStepRepository.java
  backend/src/main/java/com/mindease/repository/JournalEntryRepository.java
  backend/src/main/java/com/mindease/repository/MindfulnessSessionActivityRepository.java
  backend/src/main/java/com/mindease/repository/UserMindfulnessPreferencesRepository.java
  backend/src/main/java/com/mindease/service/GuidedProgramService.java
  backend/src/main/java/com/mindease/service/MindfulnessActivityService.java
  backend/src/main/java/com/mindease/service/MindfulnessRecommendationService.java
Due: eslint --fix, prettier --write

fix: resolve multiple bugs and security issues across frontend and backend
  apps/webapp/src/components/GuidedProgramList.jsx
  apps/webapp/src/components/mindfulness/BreathingTimer.jsx
  apps/webapp/src/components/mindfulness/FavoritesSection.jsx
  apps/webapp/src/components/mindfulness/MeditationTimer.jsx
  apps/webapp/src/components/mindfulness/SessionHistory.jsx
  apps/webapp/src/components/mindfulness/StreakWidget.jsx
  apps/webapp/src/components/ui/MoodPrompt.jsx
  apps/webapp/src/pages/GuidedProgramPlayer.jsx
  apps/webapp/src/pages/Mindfulness.jsx
  apps/webapp/src/styles/Mindfulness.css
  backend/src/main/java/com/mindease/controller/GlobalExceptionHandler.java
  backend/src/main/java/com/mindease/controller/GuidedProgramController.java
  backend/src/main/java/com/mindease/controller/MindfulnessController.java
  backend/src/main/java/com/mindease/exception/AccessDeniedException.java
  backend/src/main/java/com/mindease/exception/ProgramNotFoundException.java
  backend/src/main/java/com/mindease/exception/SessionNotFoundException.java
  backend/src/main/java/com/mindease/model/MindfulnessSessionActivity.java
  backend/src/main/java/com/mindease/service/GuidedProgramService.java
  backend/src/main/java/com/mindease/service/MindfulnessActivityService.java
  backend/src/main/java/com/mindease/service/MindfulnessRecommendationService.java
Due: eslint --fix, prettier --write

fix(webapp,backend): add error handling for async callbacks and authentication
  apps/webapp/src/pages/Mindfulness.jsx
  backend/src/main/java/com/mindease/controller/GuidedProgramController.java
Due: eslint --fix, prettier --write

fix: resolve multiple issues across mindfulness components and backend services
  apps/webapp/src/components/mindfulness/MeditationTimer.jsx
  apps/webapp/src/components/mindfulness/MindfulnessAnalytics.jsx
  apps/webapp/src/components/mindfulness/Recommendations.jsx
  apps/webapp/src/components/mindfulness/SessionHistory.jsx
  apps/webapp/src/pages/Mindfulness.jsx
  apps/webapp/src/styles/mindfulness/Recommendations.css
  backend/src/main/java/com/mindease/controller/GlobalExceptionHandler.java
  backend/src/main/java/com/mindease/controller/GuidedProgramController.java
  backend/src/main/java/com/mindease/controller/MindfulnessController.java
  backend/src/main/java/com/mindease/model/UserMindfulnessPreferences.java
  backend/src/main/java/com/mindease/repository/MindfulnessSessionActivityRepository.java
  backend/src/main/java/com/mindease/repository/MindfulnessSessionRepository.java
  backend/src/main/java/com/mindease/service/MindfulnessActivityService.java
  backend/src/main/java/com/mindease/service/MindfulnessRecommendationService.java
Due: eslint --fix, prettier --write

fix: resolve multiple code quality and security issues
  apps/webapp/src/components/mindfulness/MeditationTimer.jsx
  backend/src/main/java/com/mindease/controller/GlobalExceptionHandler.java
  backend/src/main/java/com/mindease/controller/GuidedProgramController.java
  backend/src/main/java/com/mindease/model/GuidedSession.java
  backend/src/main/java/com/mindease/repository/MindfulnessSessionActivityRepository.java
  backend/src/main/java/com/mindease/service/GuidedProgramService.java
  backend/src/main/resources/db/migration/V39__add_version_to_guided_sessions.sql
Due: eslint --fix, prettier --write

fix: resolve null-safety, resource leaks, dependency warnings, and code quality issues
  apps/webapp/src/components/GuidedProgramList.jsx
  apps/webapp/src/components/mindfulness/MeditationTimer.jsx
  apps/webapp/src/components/mindfulness/MindfulnessAnalytics.jsx
  apps/webapp/src/components/mindfulness/Recommendations.jsx
  backend/src/main/java/com/mindease/controller/GuidedProgramController.java
  backend/src/main/java/com/mindease/controller/MindfulnessController.java
  backend/src/main/java/com/mindease/model/GuidedSession.java
  backend/src/main/java/com/mindease/repository/MindfulnessSessionActivityRepository.java
  backend/src/main/java/com/mindease/repository/MindfulnessSessionRepository.java
  backend/src/main/java/com/mindease/service/GuidedProgramService.java
  backend/src/main/java/com/mindease/service/MindfulnessActivityService.java
  backend/src/main/java/com/mindease/service/MindfulnessRecommendationService.java
Due: eslint --fix, prettier --write

fix(service): replace @Transactional on private method with TransactionTemplate
  backend/src/main/java/com/mindease/service/GuidedProgramService.java
Due: none

feat: add AI provider management with local AI support
  apps/webapp/src/pages/Settings.jsx
  apps/webapp/src/styles/Settings.css
  backend/src/main/java/com/mindease/config/AIProviderConfig.java
  backend/src/main/java/com/mindease/config/ChatBotConfig.java
  backend/src/main/java/com/mindease/config/RestTemplateConfig.java
  backend/src/main/java/com/mindease/controller/AIProviderController.java
  backend/src/main/java/com/mindease/controller/ChatApiController.java
  backend/src/main/java/com/mindease/dto/local/LocalAIChatRequest.java
  backend/src/main/java/com/mindease/dto/local/LocalAIChatResponse.java
  backend/src/main/java/com/mindease/model/User.java
  backend/src/main/java/com/mindease/model/enums/AIProvider.java
  backend/src/main/java/com/mindease/repository/MindfulnessSessionRepository.java
  backend/src/main/java/com/mindease/service/AIProviderManager.java
  backend/src/main/java/com/mindease/service/LocalAIChatBotService.java
  backend/src/main/java/com/mindease/service/MindfulnessRecommendationService.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V40__add_ai_provider_and_profile_fields.sql
Due: eslint --fix, prettier --write

fix(security): address privacy and security issues from CodeRabbit review
  apps/webapp/src/pages/Settings.jsx
  backend/src/main/java/com/mindease/controller/AIProviderController.java
  backend/src/main/java/com/mindease/service/LocalAIChatBotService.java
Due: eslint --fix, prettier --write

fix: implement security and code quality improvements from CodeRabbit review
  backend/src/main/java/com/mindease/controller/AIProviderController.java
  backend/src/main/java/com/mindease/service/AIProviderManager.java
  backend/src/main/java/com/mindease/service/LocalAIChatBotService.java
  backend/src/main/java/com/mindease/service/MindfulnessRecommendationService.java
Due: none

fix: resolve test compilation errors and duplicate endpoint mapping
  backend/src/main/java/com/mindease/admin/controller/AdminManagementController.java
  backend/src/test/java/com/mindease/controller/StripeWebhookControllerTest.java
  backend/src/test/java/com/mindease/controller/SubscriptionControllerTest.java
  backend/src/test/java/com/mindease/repository/UserRepositoryTest.java
  backend/src/test/java/com/mindease/service/CrisisFlaggingServiceTest.java
  backend/src/test/java/com/mindease/service/GuardrailServiceTest.java
  backend/src/test/java/com/mindease/service/RefreshTokenServiceTest.java
  backend/src/test/java/com/mindease/service/SafetyClassificationServiceTest.java
Due: none

feat(marketing): connect marketing site to webapp
  apps/marketing/.gitignore
  apps/marketing/README.md
  apps/marketing/src/components/BentoGrid.jsx
  apps/marketing/src/components/Hero.jsx
  apps/marketing/src/components/Navbar.jsx
  apps/marketing/src/routes/Features.jsx
  apps/marketing/src/routes/WhyMindease.jsx
  apps/marketing/src/utils/appUrls.js
  apps/marketing/vite.config.js
  apps/webapp/src/admin/AdminAuthContext.jsx
  apps/webapp/src/admin/adminApi.js
  apps/webapp/vite.config.js
Due: eslint --fix, prettier --write

refactor(marketing): fix navigation behavior and optimize URL generation
  apps/marketing/src/components/BentoGrid.jsx
  apps/marketing/src/components/Hero.jsx
  apps/marketing/src/components/Navbar.jsx
  apps/marketing/src/routes/Features.jsx
  apps/marketing/src/routes/WhyMindease.jsx
  apps/marketing/src/utils/appUrls.js
Due: eslint --fix, prettier --write

refactor(marketing): simplify navigation and fix mobile menu
  apps/marketing/src/components/BentoGrid.jsx
  apps/marketing/src/components/Hero.jsx
  apps/marketing/src/components/Navbar.jsx
  apps/marketing/src/routes/Features.jsx
  apps/marketing/src/routes/WhyMindease.jsx
Due: eslint --fix, prettier --write

refactor(insights): combine Journal Insights and Your Insights into single section
  apps/webapp/src/pages/Insights.jsx
  apps/webapp/src/styles/Insights.css
Due: eslint --fix, prettier --write

feat change to custom properties
  apps/webapp/src/styles/Insights.css
Due: prettier --write

feat: integrate Python AI service across multiple components
  backend/services/python-ai-service/crisis_detector.py
  backend/services/python-ai-service/models.py
  backend/src/main/java/com/mindease/admin/controller/AdminDashboardController.java
  backend/src/main/java/com/mindease/chat/service/OpenAIChatBotService.java
  backend/src/main/java/com/mindease/chat/service/SafetyClassificationService.java
  backend/src/main/java/com/mindease/journal/service/JournalService.java
  backend/src/main/java/com/mindease/mood/service/MoodService.java
  backend/src/main/resources/application.yml
Due: none

fix(services): improve Python service integration, validation, and error handling
  backend/services/python-ai-service/Dockerfile
  backend/services/python-ai-service/README.md
  backend/services/python-ai-service/journal.py
  backend/services/python-ai-service/main.py
  backend/services/python-ai-service/requirements.txt
  backend/services/python-ai-service/safety.py
  backend/services/python-analytics-service/Dockerfile
  backend/services/python-analytics-service/README.md
  backend/services/python-analytics-service/analytics.py
  backend/services/python-analytics-service/main.py
  backend/services/python-analytics-service/models.py
  backend/services/python-analytics-service/mood_analysis.py
  backend/services/python-analytics-service/requirements.txt
  backend/src/main/java/com/mindease/admin/controller/AdminDashboardController.java
  backend/src/main/java/com/mindease/chat/service/OpenAIChatBotService.java
  backend/src/main/java/com/mindease/chat/service/SafetyClassificationService.java
  backend/src/main/java/com/mindease/mood/service/MoodService.java
  backend/src/main/java/com/mindease/shared/service/PythonAIServiceClient.java
  backend/src/main/java/com/mindease/shared/service/PythonAnalyticsServiceClient.java
Due: prettier --write
