Repository Siz09/MindEase: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{js,jsx}": "eslint --fix",
  "**/*.{js,jsx,css,md,json}": ["prettier --write"]
}

fix(security): implement comprehensive security fixes across Python services
  backend/services/python-background-jobs/Dockerfile
  backend/services/python-background-jobs/__pycache__/auto_mood.cpython-313.pyc
  backend/services/python-background-jobs/__pycache__/main.cpython-313.pyc
  backend/services/python-background-jobs/__pycache__/models.cpython-313.pyc
  backend/services/python-background-jobs/__pycache__/retention.cpython-313.pyc
  backend/services/python-background-jobs/auto_mood.py
  backend/services/python-background-jobs/celerybeat-schedule-wal
  backend/services/python-background-jobs/inactivity.py
  backend/services/python-background-jobs/main.py
  backend/services/python-background-jobs/models.py
  backend/services/python-background-jobs/retention.py
  backend/services/python-background-jobs/scheduler.py
  backend/services/python-ml-service/main.py
  backend/services/python-ml-service/models.py
  backend/services/python-ml-service/serving/model_registry.py
  backend/services/python-ml-service/serving/model_server.py
  backend/services/python-ml-service/training/mood_predictor.py
  backend/services/python-ml-service/training/risk_model.py
  backend/services/python-reports-service/main.py
  backend/services/python-reports-service/models.py
  backend/services/python-reports-service/reports.py
  backend/services/start-all-services.ps1
  backend/src/main/java/com/mindease/mood/service/AutoMoodService.java
  backend/src/main/java/com/mindease/shared/service/InactivityDetectionService.java
  backend/src/main/java/com/mindease/shared/service/RetentionPolicyService.java
Due: none

fix: address additional security and async compatibility issues
  backend/services/python-background-jobs/__pycache__/retention.cpython-313.pyc
  backend/services/python-background-jobs/celerybeat-schedule-wal
  backend/services/python-background-jobs/retention.py
  backend/services/python-background-jobs/scheduler.py
  backend/services/python-ml-service/main.py
  backend/services/python-reports-service/main.py
  backend/services/python-reports-service/reports.py
Due: none

fix(privacy): use counter instead of user IDs in logs and document import requirements
  backend/services/python-background-jobs/__pycache__/retention.cpython-313.pyc
  backend/services/python-background-jobs/celerybeat-schedule-wal
  backend/services/python-background-jobs/retention.py
  backend/services/python-background-jobs/scheduler.py
Due: none

docs: fix scheduler import documentation for directory naming constraints
  backend/services/python-background-jobs/__pycache__/retention.cpython-313.pyc
  backend/services/python-background-jobs/celerybeat-schedule-wal
  backend/services/python-background-jobs/retention.py
  backend/services/python-background-jobs/scheduler.py
Due: none

feat(marketing): integrate Shadcn UI components and enhance styling
  apps/marketing/components.json
  apps/marketing/jsconfig.json
  apps/marketing/package.json
  apps/marketing/postcss.config.js
  apps/marketing/public/hero-section.webp
  apps/marketing/public/mindease-logo.png
  apps/marketing/src/components/BentoGrid.jsx
  apps/marketing/src/components/FAQ.jsx
  apps/marketing/src/components/Footer.jsx
  apps/marketing/src/components/Hero.jsx
  apps/marketing/src/components/HowItWorks.jsx
  apps/marketing/src/components/Navbar.jsx
  apps/marketing/src/components/Stats.jsx
  apps/marketing/src/components/Testimonials.jsx
  apps/marketing/src/components/ui/accordion.jsx
  apps/marketing/src/components/ui/alert.jsx
  apps/marketing/src/components/ui/button.jsx
  apps/marketing/src/components/ui/card.jsx
  apps/marketing/src/components/ui/input.jsx
  apps/marketing/src/components/ui/label.jsx
  apps/marketing/src/components/ui/select.jsx
  apps/marketing/src/components/ui/sheet.jsx
  apps/marketing/src/components/ui/textarea.jsx
  apps/marketing/src/index.css
  apps/marketing/src/lib/utils.js
  apps/marketing/src/locales/en/common.json
  apps/marketing/src/locales/ne/common.json
  apps/marketing/src/routes/About.jsx
  apps/marketing/src/routes/Contact.jsx
  apps/marketing/src/routes/Features.jsx
  apps/marketing/src/routes/Home.jsx
  apps/marketing/src/routes/WhyMindease.jsx
  apps/marketing/tailwind.config.js
  apps/marketing/vite.config.js
  backend/services/python-background-jobs/celerybeat-schedule
  backend/services/python-background-jobs/celerybeat-schedule-shm
  backend/services/python-background-jobs/celerybeat-schedule-wal
  package-lock.json
Due: eslint --fix, prettier --write

fix(marketing): implement CodeRabbit suggestions for code quality improvements
  apps/marketing/src/components/Footer.jsx
  apps/marketing/src/components/Hero.jsx
  apps/marketing/src/components/Navbar.jsx
  apps/marketing/src/components/Stats.jsx
  apps/marketing/src/components/Testimonials.jsx
  apps/marketing/src/index.css
  apps/marketing/src/routes/Contact.jsx
  apps/marketing/vite.config.js
Due: eslint --fix, prettier --write

feat(marketing): internationalize Contact page and replace alert with Alert component
  apps/marketing/src/routes/Contact.jsx
Due: eslint --fix, prettier --write

fix(marketing): wrap alert in AnimatePresence for proper exit animation
  apps/marketing/src/routes/Contact.jsx
Due: eslint --fix, prettier --write

Refactor chat UI to Messenger/Instagram style with dark mode support
  apps/webapp/src/components/ui/ChatBubble.jsx
  apps/webapp/src/main.jsx
  apps/webapp/src/pages/Chat.jsx
  apps/webapp/src/styles/Chat.css
  apps/webapp/src/styles/UserLayout.css
Due: eslint --fix, prettier --write

fix(ui): improve internationalization and remove duplicate animation
  apps/webapp/src/components/ui/ChatBubble.jsx
  apps/webapp/src/pages/Chat.jsx
  apps/webapp/src/styles/Chat.css
Due: eslint --fix, prettier --write

feat(backend): add dotenv support and ignore Python cache files
  .gitignore
  backend/services/python-background-jobs/main.py
Due: none

refactor(webapp): modularize chat/auth/settings
  FRONTEND_CODE_ANALYSIS.md
  FRONTEND_REFACTORING_STATUS.md
  apps/webapp/src/components/chat/ChatEmptyState.jsx
  apps/webapp/src/components/chat/ChatHeader.jsx
  apps/webapp/src/components/chat/ChatInput.jsx
  apps/webapp/src/components/chat/ChatMessageList.jsx
  apps/webapp/src/components/chat/TypingIndicator.jsx
  apps/webapp/src/components/chat/VoiceControls.jsx
  apps/webapp/src/components/settings/AIProviderSection.jsx
  apps/webapp/src/components/settings/AccountSettingsSection.jsx
  apps/webapp/src/components/settings/LanguageSettingsSection.jsx
  apps/webapp/src/components/settings/QuietHoursSection.jsx
  apps/webapp/src/components/settings/VoiceSettingsSection.jsx
  apps/webapp/src/contexts/AuthContext.jsx
  apps/webapp/src/hooks/useAuthActions.js
  apps/webapp/src/hooks/useChatHistory.js
  apps/webapp/src/hooks/useChatMessages.js
  apps/webapp/src/hooks/useOfflineQueue.js
  apps/webapp/src/hooks/useQuietHours.js
  apps/webapp/src/hooks/useSession.js
  apps/webapp/src/hooks/useTokenRefresh.js
  apps/webapp/src/hooks/useVoiceConversation.js
  apps/webapp/src/hooks/useVoiceSettings.js
  apps/webapp/src/hooks/useWebSocket.js
  apps/webapp/src/pages/Chat.jsx
  apps/webapp/src/pages/Settings.jsx
  apps/webapp/src/utils/auth/authApi.js
  apps/webapp/src/utils/auth/firebaseAuth.js
  apps/webapp/src/utils/auth/tokenUtils.js
  apps/webapp/src/utils/chat/messageNormalizer.js
  apps/webapp/src/utils/chat/scrollManager.js
Due: eslint --fix, prettier --write

fix(webapp): harden chat, i18n, and offline queue
  apps/webapp/src/components/chat/ChatEmptyState.jsx
  apps/webapp/src/components/chat/ChatHeader.jsx
  apps/webapp/src/components/chat/ChatInput.jsx
  apps/webapp/src/components/chat/ChatMessageList.jsx
  apps/webapp/src/components/chat/TypingIndicator.jsx
  apps/webapp/src/components/chat/VoiceControls.jsx
  apps/webapp/src/components/settings/AIProviderSection.jsx
  apps/webapp/src/components/settings/AccountSettingsSection.jsx
  apps/webapp/src/components/settings/LanguageSettingsSection.jsx
  apps/webapp/src/components/settings/QuietHoursSection.jsx
  apps/webapp/src/hooks/useAuthActions.js
  apps/webapp/src/hooks/useChatHistory.js
  apps/webapp/src/hooks/useChatMessages.js
  apps/webapp/src/hooks/useOfflineQueue.js
  apps/webapp/src/hooks/useQuietHours.js
  apps/webapp/src/hooks/useTokenRefresh.js
  apps/webapp/src/hooks/useWebSocket.js
  apps/webapp/src/i18n/index.js
  apps/webapp/src/locales/en/common.json
  apps/webapp/src/locales/ne/common.json
  apps/webapp/src/pages/Chat.jsx
  apps/webapp/src/styles/Chat.css
  apps/webapp/src/utils/auth/tokenUtils.js
  apps/webapp/src/utils/chat/messageNormalizer.js
  apps/webapp/src/utils/chat/scrollManager.js
  apps/webapp/src/utils/messageStatus.js
Due: eslint --fix, prettier --write

Apply CodeRabbit hardening and a11y fixes
  apps/webapp/src/components/chat/ChatEmptyState.jsx
  apps/webapp/src/components/chat/ChatHeader.jsx
  apps/webapp/src/components/chat/ChatInput.jsx
  apps/webapp/src/components/chat/ChatMessageList.jsx
  apps/webapp/src/components/chat/VoiceControls.jsx
  apps/webapp/src/components/settings/AIProviderSection.jsx
  apps/webapp/src/components/settings/AccountSettingsSection.jsx
  apps/webapp/src/components/settings/LanguageSettingsSection.jsx
  apps/webapp/src/components/settings/QuietHoursSection.jsx
  apps/webapp/src/contexts/AuthContext.jsx
  apps/webapp/src/hooks/useAuthActions.js
  apps/webapp/src/hooks/useChatHistory.js
  apps/webapp/src/hooks/useChatMessages.js
  apps/webapp/src/hooks/useQuietHours.js
  apps/webapp/src/hooks/useTokenRefresh.js
  apps/webapp/src/hooks/useVoiceConversation.js
  apps/webapp/src/hooks/useVoiceSettings.js
  apps/webapp/src/hooks/useWebSocket.js
  apps/webapp/src/i18n/index.js
  apps/webapp/src/lib/api.js
  apps/webapp/src/locales/en/common.json
  apps/webapp/src/locales/ne/common.json
  apps/webapp/src/pages/Chat.jsx
  apps/webapp/src/styles/Chat.css
  apps/webapp/src/utils/auth/firebaseAuth.js
  apps/webapp/src/utils/auth/tokenUtils.js
  apps/webapp/src/utils/chat/messageNormalizer.js
Due: eslint --fix, prettier --write

Fix abort races, message trimming, and TTS resume
  apps/webapp/src/hooks/useChatMessages.js
  apps/webapp/src/hooks/useVoiceConversation.js
  apps/webapp/src/hooks/useVoiceSettings.js
  apps/webapp/src/lib/api.js
  apps/webapp/src/utils/chat/messageNormalizer.js
Due: eslint --fix, prettier --write

Reset TTS auto-pause flags on start/stop
  apps/webapp/src/hooks/useVoiceConversation.js
Due: eslint --fix, prettier --write

fix: harden UI callbacks and a11y
  apps/webapp/src/admin/components/audit/AuditLogsTable.jsx
  apps/webapp/src/admin/components/settings/AdminSettingsActions.jsx
  apps/webapp/src/admin/components/settings/DailyReportTimeCard.jsx
  apps/webapp/src/admin/components/users/UserActions.jsx
  apps/webapp/src/admin/components/users/UserFilters.jsx
  apps/webapp/src/admin/components/users/UserModals.jsx
  apps/webapp/src/admin/hooks/useAdminSettings.js
  apps/webapp/src/components/JournalEntryComposer.jsx
  apps/webapp/src/components/JournalForm.jsx
  apps/webapp/src/components/MoodWellnessTips.jsx
  apps/webapp/src/components/RegisterForm.jsx
  apps/webapp/src/components/RegisterWelcome.jsx
  apps/webapp/src/components/mindfulness/MeditationSection.jsx
  apps/webapp/src/hooks/useMoodInsights.js
Due: eslint --fix, prettier --write

Apply CodeRabbit fixes
  apps/webapp/src/admin/components/audit/AuditLogFilters.jsx
  apps/webapp/src/admin/components/audit/AuditLogsPagination.jsx
  apps/webapp/src/admin/components/audit/AuditLogsTable.jsx
  apps/webapp/src/admin/components/settings/AdminSettingsActions.jsx
  apps/webapp/src/admin/components/settings/AutoArchiveCard.jsx
  apps/webapp/src/admin/components/settings/CrisisThresholdCard.jsx
  apps/webapp/src/admin/components/settings/EmailNotificationsCard.jsx
  apps/webapp/src/admin/components/users/UserFilters.jsx
  apps/webapp/src/admin/components/users/UserNotification.jsx
  apps/webapp/src/admin/components/users/UserStats.jsx
  apps/webapp/src/admin/components/users/UserTable.jsx
  apps/webapp/src/admin/hooks/useAdminSettings.js
  apps/webapp/src/admin/hooks/useAuditLogs.js
  apps/webapp/src/admin/hooks/useUsers.js
  apps/webapp/src/components/InsightsDailySummariesCard.jsx
  apps/webapp/src/components/InsightsStatsCard.jsx
  apps/webapp/src/components/JournalEntryComposer.jsx
  apps/webapp/src/components/JournalHistory.jsx
  apps/webapp/src/components/MoodHistory.jsx
  apps/webapp/src/components/RegisterForm.jsx
  apps/webapp/src/components/mindfulness/MeditationSection.jsx
  apps/webapp/src/components/mindfulness/MindfulnessDashboard.jsx
  apps/webapp/src/components/mindfulness/MindfulnessQuickStats.jsx
  apps/webapp/src/components/mindfulness/MindfulnessSessionCard.jsx
  apps/webapp/src/components/mindfulness/MindfulnessSessionFilters.jsx
  apps/webapp/src/components/mindfulness/MindfulnessSessionsGrid.jsx
  apps/webapp/src/components/mindfulness/ProgramsSection.jsx
  apps/webapp/src/hooks/useJournalAIStatus.js
  apps/webapp/src/hooks/useJournalEntries.js
  apps/webapp/src/hooks/useJournalInsights.js
  apps/webapp/src/hooks/useMoodInsights.js
  apps/webapp/src/pages/Journal.jsx
  apps/webapp/src/pages/Mood.jsx
  apps/webapp/src/styles/globals.css
Due: eslint --fix, prettier --write

Fix insights stats and registration redirect
  apps/webapp/src/components/InsightsDailySummariesCard.jsx
  apps/webapp/src/components/RegisterForm.jsx
  apps/webapp/src/hooks/useJournalInsights.js
Due: eslint --fix, prettier --write

fix(admin): fix user management loading and pagination issues
  ADMIN_UI_FIXES.md
  apps/webapp/src/admin/adminApi.js
  apps/webapp/src/admin/components/shared/LoadingOverlay.jsx
  apps/webapp/src/admin/components/shared/Table.jsx
  apps/webapp/src/admin/components/shared/index.js
  apps/webapp/src/admin/components/users/UserTable.jsx
  apps/webapp/src/admin/hooks/useUsers.js
  apps/webapp/src/admin/pages/Analytics.jsx
  apps/webapp/src/admin/pages/Dashboard.jsx
  apps/webapp/src/admin/pages/UserManagement.jsx
  apps/webapp/vite.config.js
  backend/services/python-analytics-service/__pycache__/analytics.cpython-313.pyc
  backend/services/python-analytics-service/__pycache__/models.cpython-313.pyc
  backend/src/main/java/com/mindease/admin/controller/AdminManagementController.java
Due: eslint --fix, prettier --write

fix(admin): improve accessibility, error handling, and component structure
  apps/webapp/src/admin/AdminLayout.jsx
  apps/webapp/src/admin/AdminSidebar.jsx
  apps/webapp/src/admin/components/audit/AuditLogFilters.jsx
  apps/webapp/src/admin/components/audit/AuditLogsTable.jsx
  apps/webapp/src/admin/components/settings/CrisisThresholdCard.jsx
  apps/webapp/src/admin/components/users/UserFilters.jsx
  apps/webapp/src/admin/components/users/UserModals.jsx
  apps/webapp/src/admin/components/users/UserStats.jsx
  apps/webapp/src/admin/components/users/UserTable.jsx
  apps/webapp/src/admin/hooks/useAnimatedCounter.js
  apps/webapp/src/admin/pages/Analytics.jsx
  apps/webapp/src/admin/pages/CrisisMonitoring.jsx
  apps/webapp/src/admin/pages/SystemMonitoring.jsx
  apps/webapp/src/components/ui/Alert.jsx
  apps/webapp/src/components/ui/Avatar.jsx
  apps/webapp/src/components/ui/Badge.jsx
  apps/webapp/src/components/ui/Button.jsx
  apps/webapp/src/components/ui/Card.jsx
  apps/webapp/src/components/ui/Separator.jsx
  apps/webapp/src/components/ui/Slider.jsx
  apps/webapp/src/components/ui/Switch.jsx
  apps/webapp/src/components/ui/breadcrumb.jsx
  apps/webapp/src/components/ui/collapsible.jsx
  apps/webapp/src/components/ui/dropdown-menu.jsx
  apps/webapp/src/components/ui/pagination.jsx
  apps/webapp/src/components/ui/progress.jsx
  apps/webapp/src/components/ui/select.jsx
  apps/webapp/src/components/ui/table.jsx
  apps/webapp/src/components/ui/tooltip.jsx
  apps/webapp/src/hooks/use-mobile.js
  apps/webapp/src/styles/globals.css
Due: eslint --fix, prettier --write

fix: accessibility, key usage, scaling consistency, SSR hydration, and dropdown portal issues
  apps/webapp/src/admin/components/users/UserFilters.jsx
  apps/webapp/src/admin/components/users/UserTable.jsx
  apps/webapp/src/admin/pages/CrisisMonitoring.jsx
  apps/webapp/src/components/ui/Slider.jsx
  apps/webapp/src/components/ui/dropdown-menu.jsx
  apps/webapp/src/hooks/use-mobile.js
Due: eslint --fix, prettier --write

fix: add aria-label to SelectTrigger, prevent PII logging, fix slider scalar handling
  apps/webapp/src/admin/components/users/UserFilters.jsx
  apps/webapp/src/admin/components/users/UserTable.jsx
  apps/webapp/src/components/ui/Slider.jsx
Due: eslint --fix, prettier --write

fix(subscription): fix buttons, padding, and add animations
  apps/webapp/src/components/ui/Button.jsx
  apps/webapp/src/pages/Subscription.jsx
Due: eslint --fix, prettier --write

chore: remove temporary files and outdated documentation from root
  ADMIN_UI_FIXES.md
  CHAT_CLEANUP_PLAN.md
  CLEANUP_SUMMARY.md
  CODEBASE_OVERVIEW.md
  FINAL_IMPLEMENTATION_SUMMARY.md
  FRONTEND_CODE_ANALYSIS.md
  FRONTEND_REFACTORING_STATUS.md
  IMPLEMENTATION_STATUS.md
  MOOD_CHECKIN_TEST_CASES.md
  PROJECT_COMPLETION_SUMMARY.md
  TESTING_AND_ROLLOUT_COMPLETE.md
  TESTING_STRATEGY.md
  codemindease
  dev.log
  docs/DEPLOYMENT_GUIDE.md
  hero.tmp.jsx
  jules-scratch/verification/home-en.png
  jules-scratch/verification/page_source.html
  jules-scratch/verification/verify_home.py
  tmp_api_before.txt
  tmp_index_css.txt
  tmp_ls_prev.jsx
  tmp_nav_part1.txt
  tmp_nav_part2.txt
Due: eslint --fix, prettier --write

chore: Updated README.md file
  README.md
Due: prettier --write

fix: correct Label component import case sensitivity
  apps/webapp/src/admin/components/audit/AuditLogFilters.jsx
  apps/webapp/src/admin/components/audit/AuditLogsPagination.jsx
  apps/webapp/src/admin/components/settings/AutoArchiveCard.jsx
  apps/webapp/src/admin/components/settings/CrisisThresholdCard.jsx
  apps/webapp/src/admin/components/settings/DailyReportTimeCard.jsx
  apps/webapp/src/admin/components/settings/EmailNotificationsCard.jsx
  apps/webapp/src/admin/components/users/UserModals.jsx
  apps/webapp/src/admin/pages/ContentLibrary.jsx
  apps/webapp/src/admin/pages/CrisisFlags.jsx
  apps/webapp/src/admin/pages/CrisisMonitoring.jsx
  apps/webapp/src/admin/pages/SystemMonitoring.jsx
Due: eslint --fix, prettier --write

fix: rename Dialog.jsx to dialog.jsx for case-sensitive filesystems
  apps/webapp/src/components/ui/dialog.jsx
Due: eslint --fix, prettier --write

fix: fixed imports
  apps/webapp/src/admin/components/settings/CrisisThresholdCard.jsx
Due: eslint --fix, prettier --write
