Repository Siz09/MindEase: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs: update admin testing guide with partial date filters and SSE connection limit notes
  Loading
  apps/webapp/ADMIN_DASHBOARD_TESTING.md
  backend/src/main/java/com/mindease/controller/AdminCrisisController.java
Due: prettier --write

chore: remove stray Loading artifact from pre-commit
  Loading
Due: none

QA: Fix quiet-hours DTO parsing (HH:mm), harden analytics date casting, relax billingPeriod validation; update Postman collection + env and docs for Phase 7 QA
  README.md
  apps/webapp/ADMIN_DASHBOARD_TESTING.md
  backend/src/main/java/com/mindease/dto/QuietHoursRequest.java
  backend/src/main/java/com/mindease/dto/SubscriptionCreateRequest.java
  backend/src/main/java/com/mindease/repository/AnalyticsRepository.java
  postman/MindEase_Full_API.postman_collection.json
  postman/mindease_local.postman_environment.json
Due: prettier --write

Postman: auto-sign Stripe webhook via pre-request script; add stripeWebhookSecret env var
  postman/MindEase_Full_API.postman_collection.json
  postman/mindease_local.postman_environment.json
Due: prettier --write

dev: Add /api/dev/subscription/activate to mark user subscriptions ACTIVE; add service helper to create/update and evict cache (dev only)
  backend/src/main/java/com/mindease/controller/DevSubscriptionController.java
  backend/src/main/java/com/mindease/service/SubscriptionService.java
Due: none

dev: Ensure placeholder Stripe IDs when creating dev ACTIVE subscriptions to avoid NOT NULL/unique issues
  backend/src/main/java/com/mindease/service/SubscriptionService.java
Due: none

feat(chat): empathetic context-aware chatbot
  backend/src/main/java/com/mindease/controller/ChatApiController.java
  backend/src/main/java/com/mindease/service/ChatBotService.java
  backend/src/main/java/com/mindease/service/OpenAIChatBotService.java
  backend/src/main/java/com/mindease/service/SimpleChatBotService.java
  backend/src/main/resources/application.yml
Due: none

perf(chat): bound history, safer OpenAI, and paginated fetch
  backend/src/main/java/com/mindease/controller/ChatApiController.java
  backend/src/main/java/com/mindease/repository/MessageRepository.java
  backend/src/main/java/com/mindease/service/OpenAIChatBotService.java
  backend/src/main/java/com/mindease/service/SimpleChatBotService.java
Due: none

fix(chat): null-safety in simple bot and defensive reverse copy
  backend/src/main/java/com/mindease/controller/ChatApiController.java
  backend/src/main/java/com/mindease/service/SimpleChatBotService.java
Due: none

fix(chat-history): return normalized payload and correct ordering
  backend/src/main/java/com/mindease/controller/ChatApiController.java
Due: none

feat(chat-frontend): load chat history on connect and normalize payload
  apps/webapp/src/pages/Chat.jsx
Due: eslint --fix, prettier --write

feat(chat-frontend): infinite scroll for history and last-page initial load
  apps/webapp/src/pages/Chat.jsx
Due: eslint --fix, prettier --write

fix(chat-frontend): load history even if WebSocket fails and on auth ready
  apps/webapp/src/pages/Chat.jsx
Due: eslint --fix, prettier --write

fix(chat-frontend): compute last page with consistent page size for history
  apps/webapp/src/pages/Chat.jsx
Due: eslint --fix, prettier --write

perf(chat): reduce history roundtrip, add sort option, and improve scroll UX
  apps/webapp/src/pages/Chat.jsx
  backend/src/main/java/com/mindease/controller/ChatApiController.java
Due: eslint --fix, prettier --write

fix(chat): avoid duplicate current message in AI context and harden simple bot
  backend/src/main/java/com/mindease/controller/ChatApiController.java
  backend/src/main/java/com/mindease/service/OpenAIChatBotService.java
  backend/src/main/java/com/mindease/service/SimpleChatBotService.java
Due: none

fix(chat): prevent WS-loss on history load, clean pagination, deterministic ordering, and minor cleanup
  apps/webapp/src/pages/Chat.jsx
  backend/src/main/java/com/mindease/controller/ChatApiController.java
  backend/src/main/java/com/mindease/repository/MessageRepository.java
  backend/src/main/java/com/mindease/service/OpenAIChatBotService.java
Due: eslint --fix, prettier --write

refactor(chat): robust id trimming, helpers for normalization, and sort validation
  apps/webapp/src/pages/Chat.jsx
  backend/src/main/java/com/mindease/controller/ChatApiController.java
  backend/src/main/java/com/mindease/repository/MessageRepository.java
Due: eslint --fix, prettier --write

Updated package-lock.json
  package-lock.json
Due: prettier --write

fix: fixed tailwind setup
  Loading
  apps/marketing/package.json
  apps/marketing/postcss.config.js
  apps/marketing/src/index.css
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

marketing: remove Tailwind; switch to plain CSS
  apps/marketing/package.json
  apps/marketing/postcss.config.js
  apps/marketing/src/index.css
  package-lock.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,jsx}
  prettier --write: any of: **/*.{js,jsx,css,md,json}
