Repository Siz09/MindEase: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{js,jsx}": "eslint --fix",
  "**/*.{js,jsx,css,md,json}": ["prettier --write"]
}

docs(therapeutic): add README for Journal, Mindfulness, and offline strategy
  README.md
Due: prettier --write

feat: add notification and user activity entities + repositories (Phase 5 Day 1)
  backend/src/main/java/com/mindease/model/Notification.java
  backend/src/main/java/com/mindease/model/UserActivity.java
  backend/src/main/java/com/mindease/repository/NotificationRepository.java
  backend/src/main/java/com/mindease/repository/UserActivityRepository.java
  backend/src/main/resources/db/migration/V8__create_notification_and_activity_tables.sql
Due: none

fix: prevent LazyInitializationException in UserActivity.toString() and add constructor validation
  backend/src/main/java/com/mindease/model/Notification.java
  backend/src/main/java/com/mindease/model/UserActivity.java
  backend/src/main/java/com/mindease/repository/NotificationRepository.java
Due: none

fix: add null validation to UserActivity setters to enforce consistency with constructor
  backend/src/main/java/com/mindease/model/UserActivity.java
Due: none

feat: add inactivity detection job with quiet hours, duplicate prevention, and manual trigger endpoint
  backend/INACTIVITY_TESTING.md
  backend/src/main/java/com/mindease/controller/AuthController.java
  backend/src/main/java/com/mindease/controller/ChatApiController.java
  backend/src/main/java/com/mindease/controller/DevController.java
  backend/src/main/java/com/mindease/controller/JournalController.java
  backend/src/main/java/com/mindease/controller/MoodController.java
  backend/src/main/java/com/mindease/repository/NotificationRepository.java
  backend/src/main/java/com/mindease/service/InactivityDetectionService.java
  backend/src/main/java/com/mindease/service/NotificationService.java
  backend/src/main/java/com/mindease/service/UserService.java
Due: prettier --write

fix: add null checks, async activity tracking, and input validation across UserService, AuthController, and NotificationService
  backend/INACTIVITY_TESTING.md
  backend/src/main/java/com/mindease/MindeaseBackendApplication.java
  backend/src/main/java/com/mindease/controller/AuthController.java
  backend/src/main/java/com/mindease/controller/ChatApiController.java
  backend/src/main/java/com/mindease/controller/JournalController.java
  backend/src/main/java/com/mindease/controller/MoodController.java
  backend/src/main/java/com/mindease/service/InactivityDetectionService.java
  backend/src/main/java/com/mindease/service/NotificationService.java
  backend/src/main/java/com/mindease/service/UserService.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V9__add_unique_constraint_user_activity.sql
Due: prettier --write

fix: add null checks, async activity tracking, and input validation across UserService, AuthController, and NotificationService
  backend/src/main/java/com/mindease/controller/JournalController.java
  backend/src/main/java/com/mindease/service/InactivityDetectionService.java
Due: none

feat: implement quiet hours and async email notification system
  backend/pom.xml
  backend/src/main/java/com/mindease/controller/JournalController.java
  backend/src/main/java/com/mindease/controller/UserController.java
  backend/src/main/java/com/mindease/dto/QuietHoursRequest.java
  backend/src/main/java/com/mindease/model/User.java
  backend/src/main/java/com/mindease/repository/NotificationRepository.java
  backend/src/main/java/com/mindease/service/EmailService.java
  backend/src/main/java/com/mindease/service/InactivityDetectionService.java
  backend/src/main/java/com/mindease/service/NotificationService.java
  backend/src/main/java/com/mindease/service/UserService.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V10__add_quiet_hours_to_user.sql
Due: none

fix: restore async error handling and logging for user activity tracking in JournalController
  backend/src/main/java/com/mindease/controller/UserController.java
  backend/src/main/java/com/mindease/repository/NotificationRepository.java
  backend/src/main/java/com/mindease/service/EmailService.java
  backend/src/main/java/com/mindease/service/InactivityDetectionService.java
  backend/src/main/java/com/mindease/service/JournalController.java
  backend/src/main/java/com/mindease/service/NotificationService.java
  backend/src/main/java/com/mindease/service/UserService.java
Due: none

fix: restored inactivetydetacion and removed duplication of JournalController
  backend/src/main/java/com/mindease/controller/JournalController.java
  backend/src/main/java/com/mindease/service/InactivityDetectionService.java
  backend/src/main/java/com/mindease/service/JournalController.java
Due: none

fix: fixed pagination handling and fixed critical issue with findAll()
  backend/src/main/java/com/mindease/repository/NotificationRepository.java
  backend/src/main/java/com/mindease/repository/UserActivityRepository.java
  backend/src/main/java/com/mindease/service/InactivityDetectionService.java
Due: none

fix: fixed potential issue with quiet-hours star == end
  backend/src/main/java/com/mindease/service/InactivityDetectionService.java
Due: none

feat: add notification bell, in-app list, and real-time toast alerts
  NOTIFICATION_BACKEND_TROUBLESHOOTING.md
  apps/webapp/NOTIFICATION_TESTING.md
  apps/webapp/src/App.jsx
  apps/webapp/src/components/Navigation.jsx
  apps/webapp/src/components/NotificationBell.jsx
  apps/webapp/src/hooks/useNotifications.js
  apps/webapp/src/locales/en/common.json
  apps/webapp/src/pages/Notifications.jsx
  apps/webapp/src/styles/NotificationBell.css
  apps/webapp/src/styles/Notifications.css
  backend/src/main/java/com/mindease/controller/NotificationController.java
Due: eslint --fix, prettier --write

fix: correct double '/api' prefix in notification API requests to resolve 500 error
  NOTIFICATION_BACKEND_TROUBLESHOOTING.md
  apps/webapp/src/components/NotificationBell.jsx
  apps/webapp/src/hooks/useNotifications.js
  apps/webapp/src/locales/en/common.json
  apps/webapp/src/locales/ne/common.json
  apps/webapp/src/pages/Notifications.jsx
  apps/webapp/src/styles/NotificationBell.css
  backend/src/main/java/com/mindease/controller/NotificationController.java
Due: eslint --fix, prettier --write

feat: implement notification system with accessibility and i18n support
  apps/webapp/src/hooks/useNotifications.js
  apps/webapp/src/locales/en/common.json
  apps/webapp/src/locales/ne/common.json
  apps/webapp/src/pages/Notifications.jsx
  backend/src/main/java/com/mindease/controller/NotificationController.java
  backend/src/main/java/com/mindease/model/Notification.java
  backend/src/main/java/com/mindease/repository/NotificationRepository.java
Due: eslint --fix, prettier --write

fix: standardize error handling and prevent duplicate toast notifications
  NOTIFICATION_BACKEND_TROUBLESHOOTING.md
  apps/webapp/src/components/NotificationBell.jsx
  apps/webapp/src/hooks/useNotifications.js
  apps/webapp/src/locales/en/common.json
  backend/src/main/java/com/mindease/repository/NotificationRepository.java
Due: eslint --fix, prettier --write

fix: fixed error handdeling
  apps/webapp/src/hooks/useNotifications.js
Due: eslint --fix, prettier --write

feat: add quiet hours configuration in settings UI
  apps/webapp/src/locales/en/common.json
  apps/webapp/src/locales/ne/common.json
  apps/webapp/src/pages/Settings.jsx
  apps/webapp/src/styles/Settings.css
Due: eslint --fix, prettier --write

fix: fixed validation logic
  apps/webapp/src/locales/en/common.json
  apps/webapp/src/locales/ne/common.json
  apps/webapp/src/pages/Settings.jsx
Due: eslint --fix, prettier --write

fix: fixed payload format inconsistency and empty time values
  apps/webapp/src/locales/en/common.json
  apps/webapp/src/locales/ne/common.json
  apps/webapp/src/pages/Settings.jsx
Due: eslint --fix, prettier --write

fix: Fixed Translation Key Structure, Eliminated Double API Calls, Added Proper Error Handling & Cleaned Up Imports
  apps/webapp/src/locales/en/common.json
  apps/webapp/src/locales/ne/common.json
  apps/webapp/src/pages/Settings.jsx
Due: eslint --fix, prettier --write
