Repository Siz09/MindEase: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{js,jsx}": ["eslint --max-warnings=0 --fix"],
  "**/*.{js,jsx,css,md,json}": ["prettier --write"]
}

fix: resolve ESLint unused imports + ignore build files
  .github/workflows/ci.yml
  .gitignore
  apps/marketing/eslint.config.js
  apps/marketing/index.html
  apps/marketing/package.json
  apps/marketing/src/App.jsx
  apps/marketing/src/main.jsx
  apps/marketing/vite.config.js
  apps/webapp/dev-dist/sw.js
  apps/webapp/dev-dist/workbox-94cf63a1.js
  apps/webapp/eslint.config.js
  apps/webapp/index.html
  apps/webapp/package.json
  apps/webapp/src/App.jsx
  apps/webapp/src/main.jsx
  apps/webapp/vite.config.js
  packages/ui/src/index.js
Due: eslint --max-warnings=0 --fix, prettier --write

Updated .gitignore
  .gitignore
  apps/webapp/dev-dist/sw.js
  apps/webapp/dev-dist/workbox-94cf63a1.js
  package-lock.json
Due: eslint --max-warnings=0 --fix, prettier --write

Fix ESLint ignore patterns for build artifacts
  .eslintrc.json
  apps/marketing/eslint.config.js
  apps/webapp/eslint.config.js
  eslint.config.js
Due: eslint --max-warnings=0 --fix, prettier --write

Fix ESLint JSX parsing configuration
  eslint.config.js
Due: eslint --max-warnings=0 --fix, prettier --write

chore: disable unused vars/imports lint rule for now
  .eslintrc.json
  .lintstagedrc.json
  apps/marketing/package.json
  apps/marketing/src/App.jsx
  apps/marketing/src/components/LanguageSwitcher.jsx
  apps/marketing/src/i18n/index.js
  apps/marketing/src/locales/en/common.json
  apps/marketing/src/locales/ne/common.json
  apps/marketing/src/main.jsx
  apps/webapp/package.json
  apps/webapp/src/App.jsx
  apps/webapp/src/components/LanguageSwitcher.jsx
  apps/webapp/src/i18n/index.js
  apps/webapp/src/locales/en/common.json
  apps/webapp/src/locales/ne/common.json
  apps/webapp/src/main.jsx
  package-lock.json
Due: eslint --max-warnings=0 --fix, prettier --write

Updated package-lock.json
  package-lock.json
Due: prettier --write

chore: add Sentry integration for marketing & webapp
  .eslintrc.json
  apps/marketing/package.json
  apps/marketing/sentry.client.config.js
  apps/marketing/src/App.jsx
  apps/marketing/src/main.jsx
  apps/marketing/vite.config.js
  apps/webapp/package.json
  apps/webapp/sentry.client.config.js
  apps/webapp/src/main.jsx
  eslint.config.js
  package-lock.json
Due: eslint --max-warnings=0 --fix, prettier --write

Updated package-lock.json
  apps/marketing/package.json
  apps/marketing/sentry.client.config.js
  apps/marketing/src/App.jsx
  apps/marketing/src/main.jsx
  apps/marketing/vite.config.js
  apps/webapp/sentry.client.config.js
  apps/webapp/src/App.jsx
  apps/webapp/src/main.jsx
  apps/webapp/vite.config.js
  package-lock.json
Due: eslint --max-warnings=0 --fix, prettier --write

Removed Sentry From Project
  apps/marketing/sentry.client.config.js
  apps/marketing/src/App.jsx
  apps/marketing/src/main.jsx
  apps/marketing/vite.config.js
  apps/webapp/sentry.client.config.js
  apps/webapp/src/main.jsx
  apps/webapp/vite.config.js
Due: eslint --max-warnings=0 --fix, prettier --write

eslint changed
  eslint.config.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: remove Sentry, fix UI package import, and add PWA manifest
  .eslintrc.json
  .eslintrc.react.js
  apps/marketing/package.json
  apps/webapp/package.json
  apps/webapp/src/App.jsx
  apps/webapp/src/main.jsx
  eslint.config.js
  package-lock.json
  package.json
Due: eslint --max-warnings=0 --fix, prettier --write

feat: initialize Spring Boot backend with Maven from Spring Initializr
  backend/.gitattributes
  backend/.gitignore
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/mvnw
  backend/mvnw.cmd
  backend/pom.xml
  backend/src/main/java/com/mindease/MindeaseBackendApplication.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V1__init.sql
  backend/src/test/java/com/mindease/MindeaseBackendApplicationTests.java
Due: none

feat: complete Day 7 - Docker Compose setup, Flyway migrations, and database verification
  backend/docker/docker-compose.yml
  backend/docker/init-db.sh
  backend/pom.xml
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V1__init.sql
Due: none

feat: implement User entity with anonymous_mode flag and retention policy scheduler stub
  backend/src/main/java/com/mindease/MindeaseBackendApplication.java
  backend/src/main/java/com/mindease/controller/UserController.java
  backend/src/main/java/com/mindease/model/User.java
  backend/src/main/java/com/mindease/repository/UserRepository.java
  backend/src/main/java/com/mindease/service/RetentionPolicyService.java
  backend/src/main/resources/application.yml
Due: none

Phase 1: Stable release with full integration
  backend/src/main/resources/application.yml
Due: none

feat: add UserService with password hashing and user management methods
  backend/src/main/java/com/mindease/model/Role.java
  backend/src/main/java/com/mindease/model/User.java
  backend/src/main/java/com/mindease/repository/UserRepository.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V2__add_role_and_firebase_uid_to_users.sql
Due: none

feat: add UserService with password hashing and user management methods
  backend/pom.xml
  backend/src/main/java/com/mindease/service/UserService.java
Due: none

feat: scaffold auth endpoints with stubbed responses
  backend/src/main/java/com/mindease/controller/AuthController.java
Due: none

feat: integrate Firebase Admin SDK for token verification
  backend/src/main/java/com/mindease/controller/AuthController.java
Due: none

feat: integrate Firebase Admin SDK for token verification
  .gitignore
  backend/.gitignore
  backend/src/main/java/com/mindease/config/FirebaseConfig.java
  backend/src/main/java/com/mindease/controller/AuthController.java
  backend/src/main/java/com/mindease/service/FirebaseService.java
Due: none
