Repository Siz09/MindEase: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{js,jsx}": "eslint --fix",
  "**/*.{js,jsx,css,md,json}": ["prettier --write"]
}

Redesign Chat Page Layout
  apps/webapp/src/pages/Chat.jsx
  apps/webapp/src/styles/Chat.css
Due: eslint --fix, prettier --write

fix: ensure consistent message structure between backend and frontend
  apps/webapp/src/pages/Chat.jsx
  apps/webapp/src/styles/Chat.css
  backend/src/main/java/com/mindease/controller/ChatApiController.java
Due: eslint --fix, prettier --write

fix:some fix
  apps/webapp/src/pages/Chat.jsx
  backend/src/main/java/com/mindease/config/WebSocketConfig.java
  backend/src/main/java/com/mindease/controller/ChatApiController.java
Due: eslint --fix, prettier --write

fix: Fixed the Frontend of Chat
  apps/webapp/src/pages/Chat.jsx
  backend/src/main/java/com/mindease/controller/ChatApiController.java
Due: eslint --fix, prettier --write

Enhanced Mood Tracking UI with Chart.js Visualization
  apps/webapp/package.json
  apps/webapp/src/locales/en/common.json
  apps/webapp/src/locales/ne/common.json
  apps/webapp/src/pages/Mood.jsx
  apps/webapp/src/styles/Mood.css
  package-lock.json
Due: eslint --fix, prettier --write

Complete i18n Integration & Settings Enhancement
  apps/webapp/src/components/LanguageSwitcher.jsx
  apps/webapp/src/locales/en/common.json
  apps/webapp/src/locales/ne/common.json
  apps/webapp/src/pages/Settings.jsx
  apps/webapp/src/styles/Settings.css
Due: eslint --fix, prettier --write

Updated Chat.jsx
  apps/webapp/src/components/Navigation.jsx
  apps/webapp/src/pages/Chat.jsx
Due: eslint --fix, prettier --write

feat: implement comprehensive error handling and WebSocket JWT auth
  apps/webapp/src/components/ConnectionStatus.jsx
  apps/webapp/src/components/ErrorBoundary.jsx
  apps/webapp/src/contexts/AuthContext.jsx
  apps/webapp/src/main.jsx
  apps/webapp/src/pages/Chat.jsx
  backend/src/main/java/com/mindease/config/WebSocketConfig.java
  backend/src/main/java/com/mindease/controller/GlobalExceptionHandler.java
Due: eslint --fix, prettier --write

Day 10: Final Testing, Optimization & Documentation
  README.md
  TESTING_GUIDE.md
  apps/webapp/src/App.jsx
  apps/webapp/src/components/WebSocketTester.jsx
  apps/webapp/src/pages/Testing.jsx
  apps/webapp/src/styles/Testing.css
  apps/webapp/src/utils/websocketTest.js
  backend/pom.xml
  backend/src/main/java/com/mindease/config/CacheConfig.java
  backend/src/main/java/com/mindease/config/OpenApiConfig.java
  backend/src/main/java/com/mindease/controller/AuthController.java
  backend/src/main/java/com/mindease/controller/ChatApiController.java
  backend/src/main/java/com/mindease/controller/HealthController.java
  backend/src/main/java/com/mindease/controller/MoodController.java
  backend/src/main/java/com/mindease/dto/ChatResponse.java
  backend/src/main/java/com/mindease/repository/MoodEntryRepository.java
  backend/src/main/java/com/mindease/service/ChatBotService.java
  backend/src/main/java/com/mindease/service/OpenAIChatBotService.java
  backend/src/main/java/com/mindease/service/OptimizedChatService.java
  backend/src/main/java/com/mindease/service/OptimizedMoodService.java
  backend/src/main/java/com/mindease/service/SimpleChatBotService.java
  backend/src/main/resources/application.yml
Due: eslint --fix, prettier --write

fix: Fixed errors in chat
  backend/pom.xml
  backend/src/main/java/com/mindease/controller/HealthController.java
  backend/src/main/java/com/mindease/service/OpenAIChatBotService.java
  backend/src/main/java/com/mindease/service/OptimizedChatService.java
  backend/src/main/resources/application.yml
Due: none

feat: add journal and mindfulness entities + repositories.
  backend/full_error.log
  backend/mvn_output.log
  backend/pom.xml
  backend/src/main/java/com/mindease/model/JournalEntry.java
  backend/src/main/java/com/mindease/model/MindfulnessSession.java
  backend/src/main/java/com/mindease/repository/JournalEntryRepository.java
  backend/src/main/java/com/mindease/repository/MindfulnessSessionRepository.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V5__add_is_crisis_flagged_to_messages.sql
  backend/src/main/resources/db/migration/V6__create_therapeutic_tables.sql
  backend/src/main/resources/static/animations/breathing.json
  backend/src/main/resources/static/animations/gratitude.json
  backend/src/main/resources/static/animations/progressive-relaxation.json
  backend/src/main/resources/static/animations/walking.json
Due: prettier --write

feat: implement CBT journal APIs with POST /api/journal/add and GET /api/journal/history endpoints, including unit tests and pagination support
  backend/src/main/java/com/mindease/controller/JournalController.java
  backend/src/main/java/com/mindease/service/JournalService.java
  backend/src/main/java/com/mindease/util/AuthUtil.java
Due: none

feat: implement mindfulness APIs with GET /api/mindfulness/list and GET /api/mindfulness/:id endpoints, including filtering, media serving, and comprehensive unit tests
  backend/src/main/java/com/mindease/controller/MediaController.java
  backend/src/main/java/com/mindease/controller/MindfulnessController.java
  backend/src/main/java/com/mindease/repository/MindfulnessSessionRepository.java
  backend/src/main/java/com/mindease/service/JournalService.java
  backend/src/main/java/com/mindease/service/MindfulnessService.java
Due: none

feat: integrate OpenAI for CBT journal summarization with async processing, error handling, and fallback mock summaries
  backend/pom.xml
  backend/src/main/java/com/mindease/config/AsyncConfig.java
  backend/src/main/java/com/mindease/config/OpenAIConfig.java
  backend/src/main/java/com/mindease/controller/JournalController.java
  backend/src/main/java/com/mindease/service/JournalService.java
  backend/src/main/java/com/mindease/service/OpenAIService.java
  backend/src/main/resources/application.yml
Due: none

feat: enhance journal UI with emoji picker, improved entry cards, better pagination, and visual enhancements
  apps/webapp/src/components/EmojiPicker.jsx
  apps/webapp/src/locales/en/common.json
  apps/webapp/src/locales/ne/common.json
  apps/webapp/src/pages/Journal.jsx
  apps/webapp/src/styles/EmojiPicker.css
  apps/webapp/src/styles/Journal.css
  backend/src/main/java/com/mindease/controller/JournalController.java
  backend/src/main/java/com/mindease/dto/JournalRequest.java
  backend/src/main/java/com/mindease/service/CustomUserDetails.java
  backend/src/main/java/com/mindease/service/CustomUserDetailsService.java
  backend/src/main/java/com/mindease/service/JournalService.java
Due: eslint --fix, prettier --write

feat: add mindfulness UI with session filtering, audio/animation playback, Lottie animations, and responsive design
  apps/webapp/package.json
  apps/webapp/src/App.jsx
  apps/webapp/src/components/Navigation.jsx
  apps/webapp/src/locales/en/common.json
  apps/webapp/src/locales/ne/common.json
  apps/webapp/src/pages/Mindfulness.jsx
  apps/webapp/src/styles/Mindfulness.css
  backend/src/main/java/com/mindease/controller/JournalController.java
  backend/src/main/java/com/mindease/util/AuthUtil.java
  package-lock.json
Due: eslint --fix, prettier --write

feat: add offline caching for journal + mindfulness
  apps/webapp/OFFLINE_TESTING.md
  apps/webapp/src/components/Navigation.jsx
  apps/webapp/src/components/OfflineBanner.jsx
  apps/webapp/src/locales/en/common.json
  apps/webapp/src/locales/ne/common.json
  apps/webapp/src/pages/Journal.jsx
  apps/webapp/src/pages/Mindfulness.jsx
  apps/webapp/src/styles/OfflineBanner.css
  apps/webapp/vite.config.js
Due: eslint --fix, prettier --write

chore: integrate therapeutic APIs with frontend (journal + mindfulness)
  apps/webapp/src/App.jsx
  apps/webapp/src/pages/Journal.jsx
  apps/webapp/src/pages/Mindfulness.jsx
  apps/webapp/src/utils/api.js
  apps/webapp/vite.config.js
Due: eslint --fix, prettier --write

feat(therapeutic): complete Journal UI and backend integration
  apps/webapp/src/hooks/useOnlineStatus.js
  apps/webapp/src/pages/Journal.jsx
  apps/webapp/src/pages/Mindfulness.jsx
  apps/webapp/src/styles/Journal.css
  apps/webapp/src/utils/api.js
Due: eslint --fix, prettier --write

fix(therapeutic): correct API import/export mismatch in Journal and Mindfulness pages
  apps/webapp/src/pages/Journal.jsx
  apps/webapp/src/pages/Mindfulness.jsx
Due: eslint --fix, prettier --write

docs(therapeutic): add README for Journal, Mindfulness, and offline strategy
  README.md
Due: prettier --write
